@import '~@burgeon/oms-theme/skin/public.less';

.order-content-tab {
  .order-content-top{
    display: grid;
    grid-template-columns: 35% 65%;
  }
  .ark-col{
    margin-top: 0;
  }
  .order-tab-content {
    border-radius: @base-radius;
    overflow: auto;
    background: #fff;
    padding:0  @base-mr;
    &.order-tab-left{
      position: relative;
      &::before{
        height: 90%;
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 5%;
        border-right: 1px dashed #DBDDE8;
      }
    }
    .order-tab-title {
      position: relative;
      padding-left:  @base-mr - 2px;
      height: 48px;
      line-height:  48px;
      font-weight: 400;
      font-size: 14px;
      color: #292F43;
      .order-tab-title-span{
        display: inline-block;
        max-width: 150px;
        vertical-align: middle;
        #bundle > .points
      }
      &.border{
        margin-top: 5px;
        border-top: 1px solid #f2f2f2;
      }
      &:after{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        content: '';
        width: 4px;
        height: 16px;
        border-radius: 3px;
        background: @base-color;
      }
      .title-right{
        display: grid;
        position: absolute;
        right: 0;
        top: 0;
        height: 48px;
        line-height: 48px;
        grid-template-columns: 60px 100px;
        font-size: 12px;
        color: @base-color;
        grid-column-gap: 10px;
        p{
          #bundle > .points;
          text-align: right;
          cursor: pointer;
          label{
            cursor: pointer;
          }
        }
      }
      .title-sign{
        display: inline-block;
        height: 48px;
        line-height: 48px;
        margin-left: 10px;
        vertical-align: middle;
        span{
          font-size: 12px;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          padding: 0 5px;
          margin: 0 5px;
          height: 24px;
          border: 1px solid #aeadb0;
          line-height: 22px;
          border-radius: 5px;
        }
      }
      .checkCombination{
        position: absolute;
        right: 12px;
        top: 0;
        font-size: 12px;
        color: @base-color;
        span{
          cursor: pointer;
        }
      }
    }
    .order-item{
      padding: 0;
      /deep/ .businessButtons-box{
        .button-combina{
          padding-top: 0;
          /deep/ .button-group{
            padding-left: 0;
          }
        }
        padding-bottom: 6px;
      }
    }
    .order-tab-detail{
      position: relative;
      min-height: 220px;
      // padding: 0 16px;
      .detail-ul {
        .detail-li{
          height: 38px;
          line-height: 38px;
          display: grid;
          grid-template-columns:65px calc(100% - 65px);
          label{
            // text-align: right;
            color: #8D91A1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          p{
            margin-left: 2px;
            color: #292f43;
            overflow: hidden;
            text-overflow:ellipsis; 
            white-space: nowrap;
            &.SOURCE_CODE,&.CP_C_SHOP_TITLE{
              color: @base-color;
            }
            .edit{
              vertical-align: middle; 
              cursor: pointer;
              color: @base-color;
            }
          }
        }
      }
    }
    .order-money{
      display: grid;
      grid-template-columns: 24px calc(60% - 24px) 40%;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 12px;
      width: calc(100% - 16px);
      .order-money-title{
        background: rgba(69,96,171,0.16);
        line-height: 24px;
        letter-spacing: 2px;
        text-align: center;
        writing-mode: vertical-lr;
        height: 80px;
        color: rgba(84,97,184,0.60);
        font-weight: bold;
        #bundle > .points
      }
      .totalAmount{
        grid-template-columns: repeat(4,auto 20px);
        background-color: #F0F2F9;
        height: 80px;
        align-content: center;
        li.symbol{
          color: #c3c6d2;
          font-size: 32px;
        }
      }
      .amountActually{
        grid-template-columns: repeat(3, auto);
        background-color: #F5F7FB;
        height: 80px;
        align-content: center;
      }
      .totalAmount,.amountActually{
        display: grid;
        li{
          display: grid;
          align-items: center;
          text-align: center;
          justify-content: center;
          label{
            height: 25px;
            line-height: 25px;
            color: #8D91A1;
            max-width: 120px;
            #bundle .points;
            .ark-tooltip{
              position: relative;
              top: -1px;
            }
            .iconios-alert-outline{
              vertical-align: middle;
              &:before{
                font-weight: bold;
                color: @base-color;
              }
            }
          }
          p{
            font-size: 16px;
            height: 25px;
            line-height: 25px;
            color: #ff6951;
          }
          &.resulf-text{
            label{
              font-weight: bold;
              color: #292f43;
            }
            p{
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  // color:;
  .color_90BB57{
    color:#90BB57 !important;
  }
  .color_ffae34{
    color:#ffae34 !important;
  }
  .color_5461B8{
    color:#5461B8 !important;
  }
  .color_99c2f1{
    color:#99c2f1 !important;
  }
  .color_a375c1{
    color:#a375c1 !important;
  }
  .color_ffae34{
    color:#ffae34 !important;
  }
  .color_ff6951{
    color:#ff6951 !important;
  }
  .color_99c2f1{
    color:#99c2f1 !important;
  }
  .color_a375c1{
    color:#a375c1 !important;
  }
  .color_90BB57{
    color:#90BB57 !important;
  }
}
.text-ellipsis {
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}