.statusName {
  position: absolute;
  top: 0;
  right: 60px;
  width: 104px;
  height: 104px;
  z-index: 1000;

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 104px;
    height: 104px;
  }
}