.jordan-table-box {
  height: 100%;
  .ark-table:before{
    z-index: 5;
  }
  .ark-table-border td,
  .ark-table-border th {
    height: 40px;
    line-height: 40px;
    &.ark-table-column-center{
      box-sizing: initial;
    }
  }
  .businessForm-box {
    position: relative;
    // background-color: #eee;
  }

  .businessForm-box .businessForm_a {
    height: 100%;
    padding-bottom: 4px;
  }

  .page-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;

    .page-box-left {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .burgeon-page-options-elevator input {
      box-sizing: border-box !important;
    }

    .page_content {
      display: flex;
      align-items: center;
      flex-direction: row;

      .page-allSizes {
        margin-right: 6px;
      }
    }

    .page-input {
      margin-left: 4px;
      justify-content: flex-end;
    }
  }

  .detailButtons {
    padding: 8px 0;
    font-size: 0;

    button {
      height: 28px;
      margin-left: 0;
      border-radius: 2px;
      min-width: 50px;
      padding: 0 7px;
      position: relative;
      border-color: #fd6442;
      color: #fd6442;
      font-size: 12px;
      margin-right: 8px;

      &>i.iconfont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &+span {
          display: none;
        }
      }

      span {
        display: block;
        height: 26px;
        line-height: 26px;
      }

      .ark-icon,
      .iconfont {
        font-size: 14px;
      }

      &:hover {
        background: #fff;
        opacity: 0.6;
      }
    }
  }
  .table-gray-row td {
    background: #f1f1f1 !important;
  }
  .color-gray-row td {
    color: #c5c5c5 !important;
  }
  .color-red-row td {
    color: #fd6442 !important;
  }
  .table-yellow-row td {
    background: #ffff99 !important;
  }
  .businessButtons-box.prosition{
    position: absolute;
    right: 0;
    top: 10px;
    margin-top: 0 !important;
  }
}
// button
.fromBtn{
  position: relative;
  &.FormPadding{
    padding-bottom: 45px;
  }
  .businessButton{
    position: absolute;
    bottom: 0;
    right: 0;
    .button-combina .button-content{
      .button-group:last-child{
        button{
          margin-right: 0;
        }
      }
    }
  }
}
.customized-modal,.ark-dialog{
  .businessButton{
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}