.stepsBars {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(204, 204, 204);
  .steps-item {
    position: relative;
    text-align: center;
    height: 140px;
    .steps-tail {
      position: absolute;
      border-left: 2px dashed rgb(204, 204, 204);
      height: calc(100% - 90px);
      width: 1px;
      left: 50%;
      margin-top: 90px;
    }
    .steps-head {
      .steps-head-inner {
        .icon-item {
          line-height: 70px;
          padding: 5px;
          font-size: 50px;
        }
        .step-finish.step-active {
          color: #fd6442;
        }
      }
      .steps-head-inner > span:hover{
         cursor: pointer;
      }
     
      .step-noactive {
        color: rgb(204, 204, 204);
      }
       .step-active {
        border: 2px dashed;
      }
    }
    .steps-main {
      .steps-content {
        font-size: 12px;
      }
    }
  }
}