.row {
  padding: 0px 0 40px;
  display: block;

  .AutoRight {
    text-align: right;
    padding: 0 15px;
  }
  .form_content {
    position: relative;
    width: 100%;
    //display:flex;
    .detailtable {
      width: 50%;
    }
    .closeBtn {
      position: absolute;
      right: -7px;
      top: 30px;
      z-index: 10;
      font-size: 16px;
      border: 1px solid #666;
      border-radius: 50%;
      color: #666;
      background: #fff;
    }
  }
  .burgeon-table-row {
    font-size: 12px;
    .item-input {
      min-width: 150px;
    }
  }
  .import {
    float: right;
    background: #fd6442;
    color: #fff;
    border: 1px solid #fd6442;
    border-radius: 3px;
    padding: 5px;
  }
  .burgeon-table-body {
    button {
      color: #fd6442;
    }
  }
}
.add {
  display: inline-block;
  background: #fd6442;
  color: #fff;
  padding: 0px 10px;
  text-align: right;
  float: right;
  margin: 0 10px;
  justify-content: flex-end;
}
.addIcon {
  font-size: 30px;
}
.buttonFk {
  display: inline-block;
}