.setCommodity{
    .page-allSizes{
        line-height: 28px;
    }
    .el-dialog .el-dialog__body{
        padding:20px 20px 0;
    }
    
    
}
.dialog-div{
    .el-dialog__body{
        padding:20px!important;
    }
    .my-dialog{
        width:60%;
    }
        .footer{
            text-align: right;
            position:absolute;
            right:14px;bottom:20px;
            button{
                height: 24px;
                min-width: 50px;
                line-height: 24px;
                padding: 0 8px;
                border: 1px solid #fd6442;
                font-size: 12px;
                background: #fff;
                color: #fd6442;
                border-radius: 2px;
                margin-right: 5px;
            }
            .active{
                background: #fd6442;
                color: #fff;
                margin-right: 8px;
            }
            .white{

            }
        }
    }