@fontSize: 12px;
@inputWidth: 300px;
@lineHeight: 24px;
.detailtable {
  .page-box {
    margin-top: 5px;
    .page_content {
      display: flex;
      justify-content: center;
      .page-allSizes {
        padding-right: 10px;
      }
    }
  }

  .burgeon-table-cell .burgeon-table-cell-ellipsis {
    input {
      width: 90px;
    }
  }
}