// @import '~burgeonComponents/burgeon.publish/common/css/theme.less';
// @import url(https://unpkg.zhimg.com/@alanh/oms-ui@2.0.7/burgeon.publish/common/css/theme.less);


.courierPay .img {
  position: absolute;
  right: 80px;
  z-index: 999;
  img {
    height: 104px;
  }
}