@import "~libs/element-ui/lib/theme-chalk/index.css";
.dateilTable .ag-theme-balham .ag-row-selected,
.agTable .ag-theme-balham .ag-row-selected {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9dcde;
}
.dateilTable .ag-theme-balham .ag-pinned-left-cols-container .ag-cell-focus,
.agTable .ag-theme-balham .ag-pinned-left-cols-container .ag-cell-focus {
  border: 1px solid transparent !important;
  border-left: none !important;
  border-right: 1px solid #ebedf0 !important;
}
.dateilTable .ag-theme-balham .ag-cell-focus,
.agTable .ag-theme-balham .ag-cell-focus {
  border: 1px solid #0091ea !important;
}
.dateilTable .ag-theme-balham .ag-row.ag-row-hover,
.agTable .ag-theme-balham .ag-row.ag-row-hover {
  background-color: #edf7ff;
}
.dateilTable .ag-theme-balham .ag-row.ag-row-hover .ag-cell,
.agTable .ag-theme-balham .ag-row.ag-row-hover .ag-cell {
  border-right: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-root,
.agTable .ag-theme-balham .ag-root {
  border: none;
}
.dateilTable .ag-theme-balham .ag-header,
.agTable .ag-theme-balham .ag-header {
  background-color: #f7f8fa;
  border-bottom: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-header-row,
.agTable .ag-theme-balham .ag-header-row {
  border-bottom: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-header-row:last-child,
.agTable .ag-theme-balham .ag-header-row:last-child {
  border: none;
}
.dateilTable .ag-theme-balham .ag-header-row:first-child .ag-header-cell,
.agTable .ag-theme-balham .ag-header-row:first-child .ag-header-cell,
.dateilTable .ag-theme-balham .ag-header-row:first-child .ag-header-group-cell,
.agTable .ag-theme-balham .ag-header-row:first-child .ag-header-group-cell {
  line-height: 36px;
}
.dateilTable .ag-theme-balham .ag-header-cell,
.agTable .ag-theme-balham .ag-header-cell,
.dateilTable .ag-theme-balham .ag-header-group-cell,
.agTable .ag-theme-balham .ag-header-group-cell {
  text-align: center;
  border-right: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-header-cell:after,
.agTable .ag-theme-balham .ag-header-cell:after,
.dateilTable .ag-theme-balham .ag-header-group-cell:after,
.agTable .ag-theme-balham .ag-header-group-cell:after {
  display: none;
}
.dateilTable .ag-theme-balham .ag-header-cell .ag-header-cell-resize,
.agTable .ag-theme-balham .ag-header-cell .ag-header-cell-resize,
.dateilTable .ag-theme-balham .ag-header-group-cell .ag-header-cell-resize,
.agTable .ag-theme-balham .ag-header-group-cell .ag-header-cell-resize {
  text-align: center;
}
.dateilTable .ag-theme-balham .ag-header-cell .ag-header-cell-resize:after,
.agTable .ag-theme-balham .ag-header-cell .ag-header-cell-resize:after,
.dateilTable .ag-theme-balham .ag-header-group-cell .ag-header-cell-resize:after,
.agTable .ag-theme-balham .ag-header-group-cell .ag-header-cell-resize:after {
  display: none;
}
.dateilTable .ag-theme-balham .ag-header-group-cell,
.agTable .ag-theme-balham .ag-header-group-cell {
  line-height: 36px;
}
.dateilTable .ag-theme-balham .ag-header-cell-label,
.agTable .ag-theme-balham .ag-header-cell-label {
  justify-content: center;
}
.dateilTable .ag-theme-balham .ag-cell,
.agTable .ag-theme-balham .ag-cell {
  line-height: 36px;
  border-right: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-ltr .ag-cell-last-left-pinned,
.agTable .ag-theme-balham .ag-ltr .ag-cell-last-left-pinned {
  border-right: 1px solid #ebedf0;
}
.dateilTable .ag-theme-balham .ag-floating-filter-body,
.agTable .ag-theme-balham .ag-floating-filter-body {
  width: 100%;
}
.dateilTable .ag-theme-balham .ag-floating-filter-body input,
.agTable .ag-theme-balham .ag-floating-filter-body input {
  border: none;
  padding-right: 15px;
  background-color: #ededed;
}
.dateilTable .ag-theme-balham .ag-floating-filter-button,
.agTable .ag-theme-balham .ag-floating-filter-button {
  position: absolute;
  right: 15px;
}
.dateilTable .ag-theme-balham .ag-header-cell-menu-button,
.agTable .ag-theme-balham .ag-header-cell-menu-button {
  margin-top: 3px;
}
.dateilTable .agGridTable,
.agTable .agGridTable {
  border-bottom: 1px solid #ebedf0;
}
.dateilTable .isagTable .ag-bl-east,
.agTable .isagTable .ag-bl-east {
  display: none;
}
.dateilTable .burgeon-form-item-content,
.agTable .burgeon-form-item-content {
  position: relative;
  vertical-align: middle;
  line-height: 24px !important;
}
.dateilTable .ag-tool-panel .ag-side-buttons,
.agTable .ag-tool-panel .ag-side-buttons {
  border-left: 1px solid #ebedf0;
  background: #fff;
}
.dateilTable .ag-theme-balham .ag-tool-panel,
.agTable .ag-theme-balham .ag-tool-panel {
  border-top: 1px solid #ebedf0;
  border-right: 1px solid #ebedf0;
  border-bottom: none;
}
.dateilTable .ag-theme-balham .ag-tool-panel .ag-side-buttons,
.agTable .ag-theme-balham .ag-tool-panel .ag-side-buttons {
  border-bottom: none;
}
.jordan-table.burgeon-table-wrapper th.burgeon-table-column-left,
.jordan-table.burgeon-table-wrapper td.burgeon-table-column-left {
  text-align: left;
  height: 36px;
  border-bottom: none;
  border-right: 1px solid #e8eaec;
}
.jordan-table.burgeon-table-wrapper td.burgeon-table-column-left {
  border-bottom: 1px solid #e8eaec;
}
.jordan-table.burgeon-table-wrapper th.burgeon-table-column-center,
.jordan-table.burgeon-table-wrapper td.burgeon-table-column-center {
  text-align: center;
  border-right: 1px solid #e8eaec;
  border-bottom: 1px solid #e8eaec;
}
.jordan-table.burgeon-table-wrapper th.burgeon-table-column-center:last-child,
.jordan-table.burgeon-table-wrapper td.burgeon-table-column-center:last-child {
  border-right: none;
}
.formButton button.burgeon-btn-posdefault {
  background-color: #0068b7 !important;
  border-color: #0068b7 !important;
  border-radius: 2px !important;
}
.formButton button.burgeon-btn-posdefault:hover {
  background-color: #008ae3 !important;
  background: #008ae3 !important;
  border-color: #008ae3 !important;
  color: #fff !important;
}
.formButton button.burgeon-btn-posdefault:last-child > span,
.formButton button.burgeon-btn-posdefault:last-child > .burgeon-icon {
  color: rgba(0, 0, 0, 0.65) !important;
}
.formButton button.burgeon-btn-posdefault:last-child {
  margin-left: 10px;
  background-color: #fff !important;
  border-color: #d9d9d9 !important;
}
.formButton button.burgeon-btn-posdefault:last-child:hover {
  background-color: #008ae3 !important;
  background: #008ae3 !important;
  border-color: #008ae3 !important;
}
.formButton button.burgeon-btn-posdefault:last-child:hover > span {
  color: #fff !important;
}
.from .burgeon-form-item .burgeon-icon-ios-arrow-down:before,
.list .burgeon-form-item .burgeon-icon-ios-arrow-down:before {
  content: "\F116";
}
.from .burgeon-select-arrow,
.list .burgeon-select-arrow {
  margin-top: -5px;
}
.from > .one_button,
.list > .one_button {
  margin: 0 !important;
  padding: 0;
}
.from > .one_button .buttonBox,
.list > .one_button .buttonBox {
  justify-content: flex-end;
  margin-top: 5px;
}
.from > .one_button .buttonBox .buttonGroup,
.list > .one_button .buttonBox .buttonGroup {
  margin: 0 !important;
}
.from > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error,
.list > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error {
  background-color: #0068b7 !important;
  border-color: #0068b7 !important;
  border-radius: 2px !important;
  border: 1px solid #0068b7;
  width: 60px;
  height: 28px;
}
.from > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error:hover,
.list > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error:hover {
  background-color: #008ae3 !important;
  border-color: #008ae3 !important;
  color: #fff !important;
}
.from > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error > span,
.list > .one_button .buttonBox .buttonGroup .burgeon-btn-ghost.burgeon-btn-error > span {
  margin-left: 0;
  font-size: 12px;
}
.from > .one_button .buttonBox > div:last-child .burgeon-btn-ghost.burgeon-btn-error,
.list > .one_button .buttonBox > div:last-child .burgeon-btn-ghost.burgeon-btn-error {
  color: rgba(0, 0, 0, 0.65) !important;
  background-color: #fff !important;
  border: 1px solid #d9d9d9 !important;
  margin-right: 0 !important;
}
.from .burgeon-select-multiple .burgeon-select-selection,
.list .burgeon-select-multiple .burgeon-select-selection {
  height: 26px;
  box-shadow: none !important;
  border: 1px solid #dedede;
}
.contentView .table-generate .el-pager li.active {
  color: #fff;
}
.contentView .table-generate .table-wrap .table-tab {
  margin-bottom: 16px;
}
.orderManageEdit .one_button {
  padding: 0;
}
.bth .burgeon-btn-error {
  color: #fff;
  background-color: #fd6442;
  border-color: #fd6442;
}
.burgeon-modal .burgeon-modal-content .burgeon-modal-confirm-footer .burgeon-btn:first-child {
  height: 28px;
  width: 60px !important;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.65) !important;
  border: 1px solid #0068b7 !important;
  background-color: #0068b7 !important;
}
.burgeon-modal .burgeon-modal-content .burgeon-modal-confirm-footer .burgeon-btn:first-child span {
  color: #fff;
}
.burgeon-modal .one_button .right .burgeon-btn-ghost,
.jordanModal .one_button .right .burgeon-btn-ghost,
.jordanModal-- .one_button .right .burgeon-btn-ghost {
  border: 1px solid #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.65) !important;
  background: #fff !important;
}
.burgeon-modal .one_button .right .burgeon-btn-ghost:hover,
.jordanModal .one_button .right .burgeon-btn-ghost:hover,
.jordanModal-- .one_button .right .burgeon-btn-ghost:hover {
  border-color: #008ae3 !important;
  background: #008ae3 !important;
  color: #fff !important;
}
.burgeon-modal .one_button .right div:nth-child(2) button,
.jordanModal .one_button .right div:nth-child(2) button,
.jordanModal-- .one_button .right div:nth-child(2) button {
  color: #fff !important;
}
.burgeon-modal .one_button .buttonBox .buttonGroup button,
.jordanModal .one_button .buttonBox .buttonGroup button,
.jordanModal-- .one_button .buttonBox .buttonGroup button {
  height: 28px;
  width: 60px;
  text-align: center;
}
.burgeon-modal .one_button .buttonBox > div:first-child .buttonGroup button,
.jordanModal .one_button .buttonBox > div:first-child .buttonGroup button,
.jordanModal-- .one_button .buttonBox > div:first-child .buttonGroup button {
  border: 1px solid #0068b7;
  color: #fff;
  background: #0068b7;
}
tr.burgeon-table-row-hover td {
  background-color: #edf7ff;
}
.jordan-table.burgeon-table-wrapper .burgeon-table th,
.jordan-table.burgeon-table-wrapper .burgeon-table td {
  border-top: 1px solid #dcdee2;
  border-bottom: none;
}
.jordan-table.burgeon-table-wrapper .burgeon-table-row-highlight td {
  background-color: #f5f5f5;
}
.burgeon-modal-footer button {
  width: 60px;
  border-radius: 2px;
  height: 28px;
  line-height: 26px;
  padding: 0;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.65);
}
.burgeon-modal-footer button:last-child {
  color: #fff;
}
.burgeon-modal-footer button:hover {
  background: #57a3f3;
  color: #fff;
  border: 1px solid #57a3f3;
}
.jordan-table.burgeon-table-wrapper .burgeon-table th {
  border-top: none;
}
.burgeon-table:after,
.burgeon-table:before {
  content: '';
  width: 0;
  height: 0;
}
.burgeon-table-wrapper {
  border: none !important;
}
/* 
所有表格:
 1.右边框(无);
 2.下边框1px
*/
.burgeon-table-tbody {
  border-bottom: 1px solid #d9dcde;
}
thead tr th:last-child,
table tbody tr td:last-child {
  border-right: none !important;
}
.burgeon-table-fixed-header thead tr th:first-child {
  border-right: none !important;
}
.queryOriginalNu .burgeon-modal-footer {
  display: flex !important;
  justify-content: flex-end;
}
.queryOriginalNu .burgeon-modal-footer .burgeon-btn span {
  font-size: 12px;
}
