@import "~@/assets/css/css_1_3/theme.less";

.jq-combined-commodity {
  .btn-operate {
    padding: 8px 0 0 0;
  }

  /deep/ .ark-form .ark-form-item-label {
    padding: 10px 12px 7px 0;
  }

  .item-input .table-input[data-v-6c3e82ea] {
    margin: 0;
  }

  /deep/ .el-input__inner {
    border: none;
  }

  .submit-img {
    //no-active
    position: absolute;
    top: 0;
    right: 60px;
    width: 104px;
    z-index: 1000;

    img {
      width: 100%;
    }
  }

  .commodity-detail-box {
    width: 100%;

    .bar-code-detail {
      width: 49.5%;
      border: none;
      float: left;

      .burgeon-form-item {
        margin-bottom: 0px;
      }
    }

    .combined-commodity-detail {
      width: 49.5%;
      border: none;
      float: right;

      .burgeon-form-item {
        margin-bottom: 0px;
      }
    }

    .tab-content {
      // width: 100%;
      padding: 8px 12px;
      overflow-x: auto;
      margin-top: 0px;
      border: none;
      border-left: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;

      tr.clickstyle td {
        background-color: #381fa8 !important;
        color: #fff;
      }

      .orderManageEdit .jordanForm_a .burgeon-col-span-5,
      .orderManageEdit .jordanForm_a .burgeon-col-span-6,
      .orderManageEdit .jordanForm_a .burgeon-col-span-7,
      .orderManageEdit .jordanForm_a .burgeon-col-span-8,
      .orderManageEdit .jordanForm_a .burgeon-col-span-9,
      .orderManageEdit .jordanForm_a .burgeon-col-span-12,
      .orderManageEdit .jordanForm_a .burgeon-col-span-24 {
        height: 24px;
        margin-top: 8px;
      }
    }
  }
}
