.formSetting {
  .hint {
  color: #FF735D;
  margin: 5px 0;
}

 .icon-dingbu:before {
      content: "\e62c";
    }

.icon-dibu:before {
    content: "\e76a";
  }
.footer-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  button{
    border-color: #dbdde8;
    color: #292f43;
    border-radius: 5px;
    height: 32px;
    line-height: 30px;
    padding: 0 12px;
    background-color: #fff;
    &:last-child{
      color: #fff !important;
      background-color: #5461B8 !important;
      border-color: #5461B8 !important;
      margin-left: 12px;
    }
  }
}
#ul {
  height: 350px;
  overflow: auto;
  background: #F7F9FC;
  padding: 5px 15px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    .text {
      display: flex;
      align-items: center;
    }
    .adArrow {
      margin-right: 0px;
    }
  }
}
}