# registry=https://registry.npm.taobao.org/
@burgeon:registry=https://packages.aliyun.com/60583434ff5718e91a64f406/npm/npm-registry/
_auth=NjA1MDdlMDJjNDFmNWMzNmRiNjA2YjM5OlhxWkpIOXM1QmU3Tg==
always-auth=true