#root {

  // logo区
  a[title='OmsUI'] {
    width: 80px;
    display: flex;
    justify-content: center;
    margin-left: 20px
  }

  .css-c3junj {
    display: none;
  }

  // 导航区域
  #storybook-explorer-menu {
    .css-ulso1l {
      min-height: 26px;
    }

    .css-3refx2 {
      span {
        // visibility: hidden;
      }
    }
    .css-1a6uu8c {
      padding: 5px;
    }

  }

}