@import '~@burgeon/oms-theme/skin/public.less';

.order-content-tab {
  .order-tab-content {
    margin-top: 10px;
    overflow: auto;
    .order-tab-title {
      position: relative;
      padding-left: 20px;
      height: 40px;
      line-height: 40px;
      font-weight: 400;
      font-size: 14px;
      background: #f7f8fa;
      &:after{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        display: block;
        content: '';
        width: 3px;
        height: 14px;
        background: @base-color;
      }
    }

    .order-tab-detail {
      position: relative;
      padding: 15px 0;
      ul {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        li {
          padding: 5px 0px;
          display: flex;
          width: 25%;
          label {
            min-width: 100px;
            text-align: right;
            color: #aeadb0;
          }
          p {
            margin-left: 10px;
            color: #0f3365;
          }
        }

        .colsTwo {
          width: 50%;
        }
      }
    }

    .order-tab-detail2 {
      position: relative;
      padding: 15px 0;
      ul {
        display: flex;

        li {
          text-align: center;
          margin: 10px;
          height: 40px;
          line-height: 20px;

          .red {
            color: #f52f2f;
          }

          .blue {
            color: blue;
          }

          .strong {
            font-weight: 600;
          }
        }
      }
    }

    .order-tab-detail3 {
      position: relative;
      padding: 15px 0;
      ul {
        li {
          margin: 10px;
          display: flex;
        }
      }
    }

    ul {
      li {
        i {
          width: 8px;
          display: inline-block;
          position: relative;
          top: 3px;
          right: 4px;
          color: #f52f2f;
        }
      }
    }
  }
}
.text-ellipsis {
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wordBr {
  word-break: break-all;
  word-wrap: break-word;
}