.order-content-tab {
  .order-tab-content {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
    overflow: auto;
    border: 1px solid #ccc;

    .order-tab-title {
      margin: 3px;
      font-weight: 600;
      font-size: 16px;
    }

    .order-tab-detail {
      position: relative;
      ul {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        li {
          padding: 5px 0px;
          display: flex;
          width: 25%;
          label {
            min-width: 100px;
            text-align: right;
          }
          p {
            margin-left: 10px;
          }
        }

        .colsTwo {
          width: 50%;
        }
      }
    }

    .order-tab-detail2 {
      position: relative;
      ul {
        display: flex;

        li {
          text-align: center;
          margin: 10px;
          height: 40px;
          line-height: 20px;

          .red {
            color: #f52f2f;
          }

          .blue {
            color: blue;
          }

          .strong {
            font-weight: 600;
          }
        }
      }
    }

    .order-tab-detail3 {
      position: relative;

      ul {
        li {
          margin: 10px;
          display: flex;
        }
      }
    }

    ul {
      li {
        i {
          width: 8px;
          display: inline-block;
          position: relative;
          top: 3px;
          right: 4px;
          color: #f52f2f;
        }
      }
    }
  }
}
.text-ellipsis {
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wordBr {
  word-break: break-all;
  word-wrap: break-word;
}