body {
  margin: 0;
  ::-webkit-scrollbar {
    width: 0;
  }
  .history-and-favorite .favorite div.label, .history-and-favorite .history div.label{
    padding: 0 20px 0 16px !important;
  }
  .ark-form-item-required .ark-form-item-label:before{
    vertical-align: middle;
    font-size: 12px !important;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .admin-container {
    height: 100%;
    width: 100%;

    .main-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .main-content {
        flex: 1;

        margin: 0;
        display: flex;

        >div {
          width: 100%;
          box-sizing: border-box;
          padding: 0px 20px 0px;
        }
      }
    }
  }
}

.ffish-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Microsoft YaHei' !important;
  @import './page.less';

  .el-loading-mask {
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);

    .el-loading-spinner {
      background: url('../../../../static/img/customize-1.3/loading.svg') center no-repeat;
      height: 60px;
      margin-top: -30px;

      svg {
        display: none;
      }

      .el-loading-text {
        margin-top: 60px;
      }
    }
  }

  .el-loading-mask.is-fullscreen {
    z-index: 9999999 !important;
  }

  // dialog
  .v-modal {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1998;
  }

  >.el-message {

    //消息提示
    >img {
      top: 50%;
      margin-top: -20px;
    }

    .el-message__icon {
      height: 40px;
      width: 40px;
      margin-right: 0;
      line-height: 40px;
      text-align: center;
      font-size: 25px;
      float: left;
    }

    .el-message__content {
      color: #8391a5;
      margin-left: 40px;
      line-height: 40px;
      padding: 0 10px 0 0;
    }

    .el-message__group {
      height: auto;
      min-height: 20px;
    }

    display: block;
    z-index: 20000 !important;
    min-width: 300px;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding: 0;

    &.el-message--warning {
      border-color: #e6a23c;
    }

    &.el-message--success {
      border-color: #67c23a;
    }
  }

  // 开始菜单
  .el-cascader-menus {
    border: none;
    box-sizing: border-box;
    top: 50px !important;
    // left: 180!important;
    z-index: 1001 !important;
    left: 0 !important;
    width: 100%;
    padding-left: 180px;
    padding-bottom: 16px;

    .el-cascader-menu {
      height: auto;
      padding: 16px 10px;

      .el-cascader-menu__item {
        height: 28px;
        line-height: 1;
        font-size: 12px;
        padding: 8px 30px 8px 24px;

        &:hover {
          background-color: #0068b7;
          color: white;
        }
      }

      .el-cascader-menu__item.is-active {
        background-color: #0068b7;
      }

      .el-cascader-menu__item--extensible:after {
        content: '';
      }
    }
  }

  .el-icon-search {
    line-height: normal;
  }

  .el-select .el-input .el-select__caret {
    line-height: normal;
  }

  //日期组件
  .el-date-editor {
    height: 24px;
    padding: 0;
    border-color: #d8d8d8;

    &:hover,
    &.is-active,
    &.is-active:hover {
      .el-input__icon.el-range__icon {}
    }

    .el-input__icon {
      color: #0f8ee9;
      height: 20px;
      line-height: 20px;
      width: 20px;
      right: 0;
      top: 2px;
      position: absolute;

      &.el-icon-circle-close,
      &.el-icon-close {
        background-color: #ffffff;
      }
    }

    input {
      font-size: 12px;
    }

    .el-range-separator {
      line-height: 24px;
    }

    .el-input__prefix,
    .el-input__suffix {
      left: auto;
      right: 1px;
    }
  }

  .el-select {
    .el-input {
      .el-input__suffix {
        right: 0;
        height: 24px;

        i {
          line-height: 24px;
        }
      }
    }
  }

  .el-select-dropdown {

    .el-select-dropdown__item.selected,
    .el-select-dropdown__item.hover {
      background: rgba(15, 142, 233, 0.06);
      color: #575757;
    }

    .el-select-dropdown__item {
      margin-bottom: 2px;
      height: 24px;
      padding: 0px 10px;

      >span {
        display: inline-block;
        height: 24px;
        line-height: 24px !important;
      }

      &:hover {
        background: rgba(15, 142, 233, 0.06);
        color: #575757;
      }
    }
  }

  // 列表表头提示框
  .el-tooltip__popper.is-light {
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px;
    padding: 5px;
    color: #575757;
    display: block;
    font-weight: normal;
  }

  .el-tooltip__popper.is-light[x-placement^='top'] {
    margin-bottom: 6px;
  }

  .el-tooltip__popper.is-light[x-placement^='top'] .popper__arrow {
    border-top-color: #bbbaba;
  }

  //表格img

  .table_img {
    max-height: 150px;
  }

  // 外键提示框
  .el-popover[x-placement^='bottom'] {
    margin-top: 7px;
  }

  .el-popover-img {
    max-height: 600px;
    line-height: 0;
  }

  .el-popover {
    font-size: 12px;
    padding: 0;
    min-width: auto;
    border: none;
    //z-index: 999999999999!important;

    .img {
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    // 弹框多选
    ul.fkMore {
      padding: 5px;
      color: #575757;
      border-radius: 2px;
      max-height: 200px;
      overflow: auto;

      li {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-bottom: 4px;
        display: flex;
        position: relative;

        .iconfont {
          color: red;
          width: 12px;
          position: absolute;
          right: 2px;
          top: 0;
          display: none;
          overflow: hidden;
        }

        span {
          flex: 1;
        }

        &:hover {
          cursor: pointer;
          background: rgba(15, 142, 233, 0.06);

          .iconfont {
            display: block;
          }
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .popover-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 6px;
    right: 4px;
    color: #0f8ee9;
  }

  .fkMorePopover {
    min-width: auto;
    padding: 6px;
    border-radius: 2px;

    .fkMore {
      color: #575757;

      li {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-bottom: 4px;

        &:hover {
          background: rgba(15, 142, 233, 0.06);
          cursor: pointer;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* WebKit*/
    color: #97a8be;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #97a8be;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #97a8be;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #97a8be;
  }
}

.item-input.isnotnull {
  input {
    background: #fcf7f1;
  }
}

.el-textarea__inner {
  padding: 0 4px;
}

@media screen and (min-width: 1000px) {
  .el-input--prefix .el-input__inner {
    padding-left: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .el-input--prefix .el-input__inner {
    padding-left: 14px;
  }
}

.item-obj .item-input .el-autocomplete {
  width: 100%;
  position: relative;

  //top: -2px;
  .el-input__inner {
    //border: none;
    border: 1px solid #bfcbd9;
    border-radius: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 4px 0 4px;
    margin-right: 10px;
    padding-right: 15px;
  }
}

.item-obj .item-input .el-autocomplete {
  .el-input__inner {
    height: 24px;
  }
}

.item-obj {
  .el-col {

    // height: 24px;
    // margin-top: 8px;
    label.title {
      float: left;
      display: block;
      min-width: 102px;
      font-weight: 400;
      line-height: 14px;
      text-align: right;
      padding-right: 0px;
    }

    .item-select {
      flex: 1;
    }

    .item-input,
    .date-picker,
    .item-check {
      margin-top: 4px;
    }
  }

  .el-input--small {
    font-size: 0;
  }
}

.item-obj.configrow1 {
  .read-span {
    max-width: 270px;
  }

  .item-input {
    .input-wrap {
      max-width: 280px;
    }
  }

  .el-date-editor.el-input {
    max-width: 280px;
  }

  .item-select.wrap-obj .el-select {
    max-width: 280px;
  }
}

//报错样式
.el-dialog {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .el-dialog__header {
    padding: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f8f8f8;
    border-bottom: solid 1px #ddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: move;

    .el-dialog__title {
      font-size: 13px;
    }

    .el-dialog__headerbtn {
      top: 2px;
      right: 7px;
      margin: 0;
    }

    .el-dialog__close {
      font-size: 20px;
      top: 4px;
    }
  }

  .el-dialog__body {
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    padding: 20px;
    font-size: 12px;
  }

  .el-dialog__footer {
    padding: 0 20px 20px;
    overflow: hidden;
  }

  .el-button {
    font-weight: normal;
  }

  .el-button:focus,
  .el-button:hover {
    background-color: inherit;
  }
}

.warning,
.error,
.success {
  .el-dialog .el-dialog__header .el-dialog__title {
    color: #fff;
  }

  .el-dialog .el-dialog__header .el-dialog__close {
    color: #fff;
  }
}

.el-dialog__wrapper.error {
  .el-dialog__header {
    background-color: #e80000;
  }

  .el-dialog__body {
    i {
      color: #e80000;
    }
  }
}

//新弹框样式

.drag-dialog.pop-dialog-wrapper.error {
  .header {
    background-color: #e80000;
    color: #fff;
  }
}

.ff-popover--class {
  color: #fd6442;
  padding: 4px !important;
  border: 1px solid #d8d8d8 !important;
}

.ff-popover--class-icon {
  color: #fd6442;
}

.ff-button-printBtn {
  .el-icon--right {
    margin-left: 14px;
  }
}

.ff-button-printList {
  overflow: hidden;
  box-sizing: border-box;
  width: 70px;

  .el-dropdown-menu__item {
    padding: 0 8px !important;
  }
}

.el-dropdown .el-button-group {
  .el-button:not(:last-child) {
    margin-right: -1px;
  }

  .el-dropdown__caret-button {
    height: 24px;
    padding: 5px;
    border-left: none;

    &::before {
      background: rgba(253, 100, 66, 0.6);
    }
  }
}

.tableList .buttonList .button-group {
  .el-dropdown {
    .el-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: rgba(255, 255, 255, 0.5);

      &:hover {
        border-right-color: rgba(253, 100, 66, 0.6);
      }
    }

    .el-dropdown__caret-button {
      padding: 0 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;

      &::before {
        background: rgba(253, 100, 66, 0.6);
      }
    }
  }
}

.ff-tree-hidden-show {
  position: absolute;
  background-image: url('/static/img/2.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/
  z-index: 1;
  user-select: none;
  left: 223px;
  width: 20px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  top: 50%;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /*border: 1px solid #ccc;*/
  transform-origin: right;
  transform: translateY(-50px) perspective(50px) rotateY(-30deg);
  transition: left 0.5s ease;

  &:hover {
    background-image: url('/static/img/1.png');
  }

  .iconfont {
    font-size: 12px;
  }
}

.ff-tree-treeShow {
  left: -17px;
}

.ff-tree-control {
  width: 0 !important;
  transition: width 0.5s ease;
}

.ff-tree-control-show {
  width: 240px !important;
  transition: width 0.5s ease;
}

.ff-left-translate {
  left: 0 !important;
  transition: left 0.5s ease;
}

.ff-right-translate {
  left: 240px !important;
  transition: left 0.5s ease;
}

// 导航条的logo
.navigator .left #navBrandImg img {
  &.banner {
    width: auto;
    left: 30px;
  }

  // &.logo {
  //   position: absolute;
  //   width: 30px;
  //   top: 18px;
  //   left: 18px;
  // }
}

// modal 右上角小x图标的样式修改
.v-transfer-dom {
  .ark-modal-close {
    i {
      color: #999;

      &.iconfont {
        font-size: 24px;
      }
    }
  }
}
.one_button .buttonGroup button {
  height: 24px;
  padding: 0 8px;
  min-width: 50px;
  margin-right:8px;

  &>.ark-icon {
    font-size: 14px;

    &+span {
      margin-left: 0;
    }
  }
}

.dialog-footer {
  text-align: right;

  .ark-btn {
    min-width: 50px;
    padding: 0 8px;
    height: 24px;
    line-height: 1;
    margin-left: 8px;
  }
}

// 特定文件弹框样式调整
.v-transfer-dom {
  .unFlodStyle {
    padding-right: 0;
  }
}

.orderManageEdit {
  .ark-form-item {
    margin-bottom: 0;
    .ark-date-picker{
      width: 100%;
    }
    &.popInput {
      .el-input__inner {
        height: 24px;
      }

      .ark-form-item-content {
        margin-left: 0px !important;
      }

      .item-input {
        margin: 0;

        &>div {
          align-items: center;
        }

        .add-input {
          height: 26px;
          border: 1px solid #d8d8d8;
          .el-input__inner{
            padding: 0 10px !important;
          }
        }

        label.title {
          padding: 10px 12px 10px 0 !important;
          i{
            top: auto;
                left: -2px !important;
                font-size: 12px;
                height: auto;
                line-height: inherit;
                vertical-align: inherit;
          }
        }

        .popover-icon {
          top: 10px;
        }
      }
    }
  }
}
// element popover 箭头（很重要 关乎显示位置）
.fktable{
  background-color: #fff;
}
.input-wrap .el-autocomplete .el-input{
  position: relative;
}
.el-popper .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5;
}
.el-popper .popper__arrow {
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
    filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
}
.el-popper .popper__arrow, .el-popper .popper__arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
// element pages
.fktable .page ul li {
  height: 14px;
  padding: 0 4px;
  line-height: 14px;
  min-width: auto;
  width: auto;
  border: none;
}
.el-icon-arrow-left:before {
  content: "<";
}
.el-icon-more:before {
  content: "...";
}
.el-icon-arrow-right:before {
  content: ">";
}
.el-icon-d-arrow-right:before {
  content: ">>";
}
.el-icon-d-arrow-left:before {
  content: "<<";
}
.el-pagination button:disabled {
  color: #c0c4cc;
  background-color: #fff;
  cursor: not-allowed;
}
.el-pager, .el-pager li {
  vertical-align: top;
  margin: 0;
  display: inline-block;
}
//侧边栏
.importDialog .fileInput{
  cursor: pointer;
}
// 退换货订单 详情
.sales {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.returngood .sales ul {
  display: flex;
}
.returngood .sales ul li {
  flex: auto;
  text-align: center;
}
.returngood .sales ul li p {
  line-height: 20px;
  text-align: center;
}
.returngood .sales ul li input {
  width: 100px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #dcdee2;
}
.show-dialog .ark-btn-primary{
  background-color: #0068b7;
  border-color: #0068b7;
}