@formlayout-prefix-cls: ~"formlayout";

.@{formlayout-prefix-cls}{
    display: grid;
    display: -ms-grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 25%);
    -ms-grid-template-columns: repeat(4, 25%);
    grid-auto-rows: minmax(auto);
    > div {
        /*border:1px solid #fff;*/
        box-sizing: border-box;
      }
      .itemComponent .@{css-prefix}-date-picker {
        width: 100%;
      }
      .formlayout-Item{
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: stretch;
      
      }
      .formlayout-label{
        width: 120px;
        text-align: right;
        padding-right: 6px;
        display: inline-block;
        line-height: 32px;
        i{
          color:@warning-color;
          padding: 0 6px;
        }
      }
      .formlayout-div{
        padding-top:2px;
        flex: 1;
        display: inline-block;
        overflow: auto;
      }
      .formlayout-error-tip{
        color: @error-color;
      }

}  

  