@timing-prefix-cls: ~"@{css-prefix}timing";

.@{timing-prefix-cls} {
    display: flex;
    &-selectContainer {
        background:rgba(248,248,249,1);
        border-radius:4px 0px 0px 4px;
        border:1px solid rgba(220,222,226,1);
        border-right: 0 !important;
        width: 70px;
        .@{css-prefix}select {
            &-selection {
                background-color: inherit;
                margin: -1px;
                border: 1px solid transparent;
            }

            &-visible .@{css-prefix}select-selection{
                box-shadow: none;
            }
        }
    }
    &-component {
        flex: 1;
        .@{css-prefix}input {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
