@timing-time-prefix-cls: ~"@{css-prefix}timing-time";

.@{timing-time-prefix-cls} {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    &-transfer {
        z-index: @zindex-transfer;
        max-height: none;
        width: auto;
    }

    &-panel {
        height: 185px;
        width: 176px;
        &-upper {
            height: 145px;
            //display: flex;
            //flex-wrap: wrap;
            &-body {
                padding: 10px 6px 10px 10px;
                display: flex;
                flex-wrap: wrap;
            }
            .@{css-prefix}time-picker-cells {
                display: flex;
                &-list {
                    flex: 1;
                }
            }
        }
        &-lower {
            height: 39px;
            margin-top: 5px;
            border-top: 1px solid rgba(232,234,236,1);
            padding-right:8px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
