@import '~@burgeon/oms-theme/skin/public.less';
// 促销 实例
.promactiIcon {
  .legend {
    flex: 1;
    span {
      font-size: 12px;
      color: #0F3365;
      line-height: 12px;
      font-weight: normal !important;
      padding-right: 3px;
    }

    &>p {
      display: inline-block;
      margin-right: 3px;

      span {
        font-size: 12px;
        color: #333333;
        line-height: 12px;
        padding: 0;
      }

      button {
        border: 1px solid #dbdde8 !important;
        margin-right: 2px;
        background: #fff;
        padding: 0 3px;
      }

      .color-italic-grey {
        color: #8D91A1 !important;
        background: #f2f3f5;
      }

      .color-deep-red {
        color: #A10000 !important;
      }

      .color-bold-green {
        color: #177D4C !important;
      }

      .back-yellow {
        color: #FF9300 !important;
      }

      .color-red {
        color: #DF0F0F !important;
      }
      // 发布
      .color-blue {
        color: #90BB57 !important;
      }

      .color-purple {
        color: #670FDF !important;
      }

      .color-qing {
        color: #13B3B4 !important;
      }

      .color-italic-black {
        color: #8D91A1 !important;
      }
    }
  }
}
// 
.promotionForm{
  position: relative;
  &.formBottomPd{
    padding-bottom: 65px !important;
  }
  .formBtn{
    position: absolute;
    bottom: 7px;
    right: 0;
  }
}