
// 折叠框通用样式
.burgeon-collapse > .burgeon-collapse-item > .burgeon-collapse-header {
  text-align: center;
  height: 28px !important;
  line-height: 28px !important;
  i{
    margin-right:0px;
  }
}

.burgeon-collapse-content > .burgeon-collapse-content-box {
  padding-top: 0px !important; 
  padding-bottom: 0px !important;
}


.burgeon-imageupload .name .fileContent {
  box-sizing: border-box !important;
}
.burgeon-imageupload .pointContainer .point{
  box-sizing: border-box !important;
}


