// 基本样式 初始化标签样式
@import './base.less';
// 主题样式包和iconfont
@import '~@burgeon/oms-theme/skin/public.less';
// 促销样式
@import '~@/css/pages/promotionCenter/common.less';


body {
  margin: 0;
  .ark-tabs-panels-nav{
    font-size: 12px;
  }
  //布局调整
  .history-and-favorite {
    padding: 0 !important;
  }
  #ContentDisplayArea {
    margin: 0 !important;
    .R3tree{
      border: none;
      background-color: #fff;
    }
    .standarTableListContent{
      .treeSwitch{
        background: #fff;
        border-color: #ebedf0;
      }
    }
    .functionPower {
      padding: 0;
      .buttonGroup{
        padding: 10px 12px;
        background: #fff;
        .Button {
          height: 28px;
        }
      }
      .content {
        .contentLeft{
          background-color: #fff;
          border: none;
        }
        .contentRight{
          background-color: #fff;
          border: none;
        }
      }
    }
    .jurisdiction{
      .one_button{
        background: #fff;
        padding: 5px 12px;
        margin-bottom: 10px;
      }
      .content{
        .left_col{
          border: none;
          background-color: #fff;
          margin-right: 10px;
          border-radius: 0px;
          .filterTreeContainer{
            border: none;
            margin-right: 0;
          }

        }
        .right_col{
          border: none;
          border-radius: 0px;
          background-color: #fff;
        }
      }
    }
    // 标准详情页
    .verticalTableDetail{
      .singleObjectButton .buttonGroup{
        // background-color: #fff;
        padding:16px 16px 12px 16px;
        // margin-bottom: 10px;
      }
      .verticalTabs{
        // padding: 0 12px;
        background-color: #fff;
        .ark-tabs-panels-content{
          border: none;
        }
      }
      .TableDetailCollection{
        margin: 10px 0;

      }
    }
  }
  .StandardTableListRootDiv{
    // .R3-buttonList{
    //   order: 1;
    //   padding: 0 12px 12px;
    //   & + div{
    //     padding: 16px;
    //     .downComponent-context{
    //       box-shadow: 0px 0px 20px 0px rgba(141,145,161,0.08); 
    //       .downComponent{
    //         max-height: 128px !important;
    //         padding: 8px 0 24px 0;
    //         .ark-input{
    //           height: 32px;
    //           line-height: 30px;
    //           border: 1px solid #dbdde8;
    //           border-radius: 5px;
    //         }
    //       }
    //     }
    //   }
    // }
    // .downComponent{
    //   background-color: #fff;
    //   border: none;
    //   border-radius: 4px;
    // }
    .standardTable{
      // order: 2;
      // margin: 0 12px 10px;
      background-color: #fff;
      padding-top: 0;
      box-shadow: 0px 0px 20px 0px rgba(148, 5, 98, 0.08); 
      border-radius: 5px;
      .ark-page {
        margin: 10px 0;
        // text-align: center;
        // -webkit-box-ordinal-group: 2;
        // -moz-box-ordinal-group: 2;
        // -ms-flex-order: 2;
        // -webkit-order: 2;
        // order: 2;
      }
  
      .detailTable {
        // -webkit-box-ordinal-group: 1;
        // -moz-box-ordinal-group: 1;
        // -ms-flex-order: 1;
        // -webkit-order: 1;
        // order: 1;
        margin-top: 0;
        border: none;
      }
  
      .queryDesc {
        // -webkit-box-ordinal-group: 3;
        // -moz-box-ordinal-group: 3;
        // -ms-flex-order: 3;
        // -webkit-order: 3;
        // order: 3;
        margin: 0;
      }
    }
  }
  // 左右结构(商品中心 - 商品款号)
  .horizontalTableDetail{
    .ark-tabs-panels-nav-scroll{
      background-color: #fff;
    }
    .singleObjectButton .buttonGroup {
      padding: 10px 12px 6px;
      background: #fff;
    }
    .standard_container{
      padding-top: 0;
      border: none;
      .tabs_container{
        margin-top: 0;
        .navButton{
          margin-top: 0;
          margin-bottom: 0;
          padding: 10px 12px;
          height: auto;
          overflow: hidden;
          background-color: #fff;
          // button{
          //   color: @base-color;
          //   border: 1px solid @base-color;
          // }
        }
        .ark-tabs-panels-content{
          border: none;
        }
        .color_container,.size_container{
          padding: 0;
          padding-top: 10px;
          .left_container{
            background-color: #fff;
            border-color: #dcdee2;
          }
          .right_container{
            background-color: #fff;
            border-color: #dcdee2;
            .right_input{
              height: 28px;
              padding-left: 90px;
              .ark-input-wrapper{
              }
              & > button{
                position: absolute;
                left: 0;
                top: 0;
                height: 28px;
                line-height: 26px;
                padding: 0 10px;
                cursor: default;
                border-radius: 4px 0 0 4px;
              }
            }
          }
        }
      }
    }
    .TableDetailCollection{
      background-color: #fff;
      margin: 0;
      padding: 10px 12px;
    }
    .pro_desc{
      .buttonGroup {
        height: auto;
        padding: 10px 12px;
        margin: 0;
        background-color: #fff;
      }
    }
  }
  .custom-main{
    display: flex;
    flex-direction: column;
    .custom-btn{
      background-color: #fff;
      order: 2;
      padding: 5px 12px;
      .one_button {
        padding: 0;
      }
    }
    .custom-label{
      background-color: #fff;
      padding: 0 12px;
    }
    .custom-form{
      order: 1;
      border-color: #ebedf0;
      background-color: #fff;
      margin-bottom: 10px;
    }
    .custom-table{
      order: 3;
      padding: 0 12px 12px;
      background: #fff;
      .businessLabel{
        margin-top: 0;
        .jordan-label{
          margin-top: 0;
        }
      }
      .detailButtons{
        button{
          border-color: @base-color;
          color: @base-color;
        }
      }
      .agTable{
        border-color: #ebedf0;
      }
    }
  }

  // 定制页面
  .public-main {
    //  按钮固定
    height: 100%;
    display: flex;
    flex-direction: column;
    &.custom-main{
      .custom-btn{
        order: inherit;
        margin-bottom: 10px;
      }
    }
  }
  // 按钮固定
  .public-content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  // 统一组件修改
  .ark-page.mini{
    .ark-page-options-sizer {
      .ark-select{
        height: 26px !important;
      }
      .ark-select-selection{
        height: 26px !important;
      }
      .ark-select-selected-value{
        height: 24px !important;
        line-height: 24px !important;
      }
    }
  }
  // tab页面
  .openedMenuLists{
    height: 40px !important;
    border-bottom: 1px solid #f2f2f2 !important;
    .emptying{
      border-left-color: #f2f2f2 !important;
    }
    .tab-list{
      height: 39px !important;
      a {
          border-right: 1px solid #f2f2f2;
          .openedMenuListsItem{
            line-height: 38px !important;
            height: 38px !important;
            border-right: none !important;
            font-size: 14px;
            .close[data-v-264cb74b]{
              top: 12px !important;
            }
            .active{
              border-bottom: none !important;
            }
        }
      }
    }
  }

  // 统一滚动条的粗细
  .ag-theme-balham {
    // .ag-header{
    //   background-color: rgba(69,96,171,0.08);
    //   border: none;
    // }
    .ag-body-viewport::-webkit-scrollbar,
    .ag-theme-balham .ag-column-container::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    .ag-body-viewport::-webkit-scrollbar-track,
    .ag-theme-balham .ag-column-container::-webkit-scrollbar-track {
      box-shadow: inset 0 0 15px #f0f0f0;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .iconbj_link {
    margin-right: 5px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  .history-and-favorite .favorite .onMouseOverShow[data-v-2b94426a], 
  .history-and-favorite .history .onMouseOverShow[data-v-2b94426a]{
    left: 50px;
    top: 50px;
  }
  .history-and-favorite .favorite div.label,
  .history-and-favorite .history div.label {
    padding: 0 20px 0 16px !important;
    i.left-icon{
      margin-right: 0 !important;
    }
  }

  .ark-form-item-required .ark-form-item-label:before {
    vertical-align: middle;
    font-size: 12px !important;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .admin-container {
    height: 100%;
    width: 100%;

    .main-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .main-content {
        flex: 1;

        margin: 0;
        display: flex;

        >div {
          width: 100%;
          box-sizing: border-box;
          padding: 0px 20px 0px;
        }
      }
    }
  }
}

.dispalyArea {
  position: relative;
}

.ffish-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Microsoft YaHei' !important;

  .el-loading-mask {
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);

    .el-loading-spinner {
      background: url('/static/img/loading.svg') center no-repeat;
      height: 60px;
      margin-top: -30px;

      svg {
        display: none;
      }

      .el-loading-text {
        margin-top: 60px;
      }
    }
  }

  .el-loading-mask.is-fullscreen {
    z-index: 9999999 !important;
  }

  // dialog
  .v-modal {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1998;
  }

  >.el-message {

    //消息提示
    >img {
      top: 50%;
      margin-top: -20px;
    }

    .el-message__icon {
      height: 40px;
      width: 40px;
      margin-right: 0;
      line-height: 40px;
      text-align: center;
      font-size: 25px;
      float: left;
    }

    .el-message__content {
      color: #8391a5;
      margin-left: 40px;
      line-height: 40px;
      padding: 0 10px 0 0;
    }

    .el-message__group {
      height: auto;
      min-height: 20px;
    }

    display: block;
    z-index: 20000 !important;
    min-width: 300px;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding: 0;

    &.el-message--warning {
      border-color: #e6a23c;
    }

    &.el-message--success {
      border-color: #67c23a;
    }
  }

  // 开始菜单
  .el-cascader-menus {
    border: none;
    box-sizing: border-box;
    top: 50px !important;
    // left: 180!important;
    z-index: 1001 !important;
    left: 0 !important;
    width: 100%;
    padding-left: 180px;
    padding-bottom: 16px;

    .el-cascader-menu {
      height: auto;
      padding: 16px 10px;

      .el-cascader-menu__item {
        height: 28px;
        line-height: 1;
        font-size: 12px;
        padding: 8px 30px 8px 24px;

        &:hover {
          background-color: @base-color;
          color: white;
        }
      }

      .el-cascader-menu__item.is-active {
        background-color: @base-color;
      }

      .el-cascader-menu__item--extensible:after {
        content: '';
      }
    }
  }

  .el-icon-search {
    line-height: normal;
  }

  .el-select .el-input .el-select__caret {
    line-height: normal;
  }

  //日期组件
  .el-date-editor {
    height: 24px;
    padding: 0;
    border-color: #d8d8d8;

    &:hover,
    &.is-active,
    &.is-active:hover {
      .el-input__icon.el-range__icon {}
    }

    .el-input__icon {
      height: 20px;
      line-height: 20px;
      width: 20px;
      right: 0;
      top: 2px;
      position: absolute;

      &.el-icon-circle-close,
      &.el-icon-close {
        background-color: #ffffff;
      }
    }

    input {
      font-size: 12px;
    }

    .el-range-separator {
      line-height: 24px;
    }

    .el-input__prefix,
    .el-input__suffix {
      left: auto;
      right: 1px;
    }
  }

  .el-select {
    .el-input {
      .el-input__suffix {
        right: 0;
        height: 24px;

        i {
          line-height: 24px;
        }
      }
    }
  }

  .el-select-dropdown {

    .el-select-dropdown__item.selected,
    .el-select-dropdown__item.hover {
      background: rgba(15, 142, 233, 0.06);
      color: #575757;
    }

    .el-select-dropdown__item {
      margin-bottom: 2px;
      height: 24px;
      padding: 0px 10px;

      >span {
        display: inline-block;
        height: 24px;
        line-height: 24px !important;
      }

      &:hover {
        background: rgba(15, 142, 233, 0.06);
        color: #575757;
      }
    }
  }

  // 列表表头提示框
  .el-tooltip__popper.is-light {
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px;
    padding: 5px;
    color: #575757;
    display: block;
    font-weight: normal;
  }

  .el-tooltip__popper.is-light[x-placement^='top'] {
    margin-bottom: 6px;
  }

  .el-tooltip__popper.is-light[x-placement^='top'] .popper__arrow {
    border-top-color: #bbbaba;
  }

  //表格img

  .table_img {
    max-height: 150px;
  }

  // 外键提示框
  .el-popover[x-placement^='bottom'] {
    margin-top: 7px;
  }

  .el-popover-img {
    max-height: 600px;
    line-height: 0;
  }

  .el-popover {
    font-size: 12px;
    padding: 0;
    min-width: auto;
    border: none;
    //z-index: 999999999999!important;

    .img {
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    // 弹框多选
    ul.fkMore {
      padding: 5px;
      color: #575757;
      border-radius: 2px;
      max-height: 200px;
      overflow: auto;

      li {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-bottom: 4px;
        display: flex;
        position: relative;

        .iconfont {
          color: red;
          width: 12px;
          position: absolute;
          right: 2px;
          top: 0;
          display: none;
          overflow: hidden;
        }

        span {
          flex: 1;
        }

        &:hover {
          cursor: pointer;
          background: rgba(15, 142, 233, 0.06);

          .iconfont {
            display: block;
          }
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .popover-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 6px;
    right: 4px;
    color: #0f8ee9;
  }

  .fkMorePopover {
    min-width: auto;
    padding: 6px;
    border-radius: 2px;

    .fkMore {
      color: #575757;

      li {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-bottom: 4px;

        &:hover {
          background: rgba(15, 142, 233, 0.06);
          cursor: pointer;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* WebKit*/
    color: #97a8be;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #97a8be;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #97a8be;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #97a8be;
  }
}

.item-input.isnotnull {
  input {
    background: #fcf7f1;
  }
}

.el-textarea__inner {
  padding: 0 4px;
}

@media screen and (min-width: 1000px) {
  .el-input--prefix .el-input__inner {
    padding-left: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .el-input--prefix .el-input__inner {
    padding-left: 14px;
  }
}

.item-obj .item-input .el-autocomplete {
  width: 100%;
  position: relative;

  //top: -2px;
  .el-input__inner {
    //border: none;
    border: 1px solid #bfcbd9;
    border-radius: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 4px 0 4px;
    margin-right: 10px;
    padding-right: 15px;
  }
}

.item-obj .item-input .el-autocomplete {
  .el-input__inner {
    height: 24px;
  }
}

.item-obj {
  .el-col {

    // height: 24px;
    // margin-top: 8px;
    label.title {
      float: left;
      display: block;
      min-width: 102px;
      font-weight: 400;
      line-height: 14px;
      text-align: right;
      padding-right: 0px;
    }

    .item-select {
      flex: 1;
    }

    .item-input,
    .date-picker,
    .item-check {
      margin-top: 4px;
    }
  }

  .el-input--small {
    font-size: 0;
  }
}

.item-obj.configrow1 {
  .read-span {
    max-width: 270px;
  }

  .item-input {
    .input-wrap {
      max-width: 280px;
    }
  }

  .el-date-editor.el-input {
    max-width: 280px;
  }

  .item-select.wrap-obj .el-select {
    max-width: 280px;
  }
}

//报错样式
.el-dialog {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .el-dialog__header {
    padding: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f8f8f8;
    border-bottom: solid 1px #ddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: move;

    .el-dialog__title {
      font-size: 13px;
    }

    .el-dialog__headerbtn {
      top: 2px;
      right: 7px;
      margin: 0;
    }

    .el-dialog__close {
      font-size: 20px;
      top: 4px;
    }
  }

  .el-dialog__body {
    padding: 20px;
    font-size: 12px;
  }

  .el-dialog__footer {
    padding: 0 20px 20px;
    overflow: hidden;
  }

  .el-button {
    font-weight: normal;
  }

  .el-button:focus,
  .el-button:hover {
    background-color: inherit;
  }
}

.warning,
.error,
.success {
  .el-dialog .el-dialog__header .el-dialog__title {
    color: #fff;
  }

  .el-dialog .el-dialog__header .el-dialog__close {
    color: #fff;
  }
}

.el-dialog__wrapper.error {
  .el-dialog__header {
    background-color: #e80000;
  }

  .el-dialog__body {
    i {
      color: #e80000;
    }
  }
}

//新弹框样式

.drag-dialog.pop-dialog-wrapper.error {
  .header {
    background-color: #e80000;
    color: #fff;
  }
}

.ff-popover--class {
  color: #fd6442;
  padding: 4px !important;
  border: 1px solid #d8d8d8 !important;
}

.ff-popover--class-icon {
  color: #fd6442;
}

.ff-button-printBtn {
  .el-icon--right {
    margin-left: 14px;
  }
}

.ff-button-printList {
  overflow: hidden;
  box-sizing: border-box;
  width: 70px;

  .el-dropdown-menu__item {
    padding: 0 8px !important;
  }
}

.el-dropdown .el-button-group {
  .el-button:not(:last-child) {
    margin-right: -1px;
  }

  .el-dropdown__caret-button {
    height: 24px;
    padding: 5px;
    border-left: none;

    &::before {
      background: rgba(253, 100, 66, 0.6);
    }
  }
}

.tableList .buttonList .button-group {
  .el-dropdown {
    .el-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: rgba(255, 255, 255, 0.5);

      &:hover {
        border-right-color: rgba(253, 100, 66, 0.6);
      }
    }

    .el-dropdown__caret-button {
      padding: 0 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;

      &::before {
        background: rgba(253, 100, 66, 0.6);
      }
    }
  }
}

.ff-tree-hidden-show {
  position: absolute;
  background-image: url('/assets/img/openToRight.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/
  z-index: 1;
  user-select: none;
  left: 223px;
  width: 20px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  top: 50%;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /*border: 1px solid #ccc;*/
  transform-origin: right;
  transform: translateY(-50px) perspective(50px) rotateY(-30deg);
  transition: left 0.5s ease;

  &:hover {
    background-image: url('/assets/img/openToRight_hover.png');
  }

  .iconfont {
    font-size: 12px;
  }
}

.ff-tree-treeShow {
  left: -17px;
}

.ff-tree-control {
  width: 0 !important;
  transition: width 0.5s ease;
}

.ff-tree-control-show {
  width: 240px !important;
  transition: width 0.5s ease;
}

.ff-left-translate {
  left: 0 !important;
  transition: left 0.5s ease;
}

.ff-right-translate {
  left: 240px !important;
  transition: left 0.5s ease;
}

// 导航条的logo 展开

.banner+ ::after {
  background: #f00;
}

.navigator {
  .middle {
    margin-left: 0px !important;
  }
  .close{
    left: 50px !important;
  }
  .open {
    left: 180px !important;
  }

  .left {
    position: relative;

    img {
      &.banner {
        left: 18px !important;
        width: auto !important;
        top: 10px !important;
      }
    }
  }
}

// modal 右上角小x图标的样式修改
.v-transfer-dom {
  .ark-modal-close {
    i {
      color: #999;

      &.iconfont {
        font-size: 24px;
      }
    }
  }
}

.dialog-footer {
  text-align: right;
  margin-top: 10px;

  .ark-btn {
    min-width: 50px;
    padding: 0 8px;
    height: 24px;
    line-height: 1;
    margin-left: 8px;
  }
}

.orderManageEdit {
  .ark-form-item {
    margin-bottom: 0;

    .ark-date-picker {
      width: 100%;
    }

    &.popInput {
      .el-input__inner {
        height: 24px;
      }

      .ark-form-item-content {
        margin-left: 0px !important;
      }

      .item-input {
        margin: 0;

        &>div {
          align-items: center;
        }

        .add-input {
          height: 26px;
          border: 1px solid #d8d8d8;
          border-radius: 4px;

          .el-input__inner {
            padding: 0 10px !important;
          }
        }

        label.title {
          padding: 10px 12px 10px 0 !important;

          i {
            top: auto;
            left: -2px !important;
            font-size: 12px;
            height: auto;
            line-height: inherit;
            vertical-align: inherit;
          }
        }

        .popover-icon {
          top: 10px;
          i{
            font-size: 12px;
          }
        }
      }
    }
  }
}

// element popover 箭头（很重要 关乎显示位置）
.fktable {
  background-color: #fff;
}

.input-wrap .el-autocomplete .el-input {
  position: relative;
}

.el-popper .popper__arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #ebeef5;
}

.el-popper .popper__arrow {
  border-width: 6px;
  -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}

.el-popper .popper__arrow,
.el-popper .popper__arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

// element pages
.fktable .page ul li {
  height: 14px;
  padding: 0 4px;
  line-height: 14px;
  min-width: auto;
  width: auto;
  border: none;
}

.el-icon-arrow-left:before {
  content: "<";
}

.el-icon-more:before {
  content: "...";
}

.el-icon-arrow-right:before {
  content: ">";
}

.el-icon-d-arrow-right:before {
  content: ">>";
}

.el-icon-d-arrow-left:before {
  content: "<<";
}

.el-pagination button:disabled {
  color: #c0c4cc;
  background-color: #fff;
  cursor: not-allowed;
}

.el-pager,
.el-pager li {
  vertical-align: top;
  margin: 0;
  display: inline-block;
}

//侧边栏
.importDialog .fileInput {
  cursor: pointer;
}

// 退换货订单 详情
.sales {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.returngood .sales ul {
  display: flex;
}

.returngood .sales ul li {
  flex: auto;
  text-align: center;
}

.returngood .sales ul li p {
  line-height: 20px;
  text-align: center;
}

.returngood .sales ul li input {
  width: 100px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #dcdee2;
}

.show-dialog .ark-btn-primary {
  background-color: @base-color;
  border-color: @base-color;
}

// 统一定制页面(动作定义)按钮样式
.one_button {
  padding: 8px 0;

  .buttonBox {
    button {
      height: 28px;
      margin-left: 0;
      border-radius: 2px;
      min-width: 50px;
      padding: 0 7px;
      position: relative;

      &>i.iconfont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &+span {
          display: none;
        }
      }

      span {
        display: block;
        height: 26px;
        line-height: 26px;
      }

      .ark-icon,
      .iconfont {
        font-size: 14px;
      }
    }
  }
}

// 框架按钮(查找、重置、导出等)的空白节点
.R3-button-group {
  font-size: 0;
  button {
    height: 32px;
    border-radius: 5px;
    padding: 0 16px;
  }
}

// 详情的car 统一修改
// .ark-collapse-content>.ark-collapse-content-box {
//   padding-top: 0px !important;
// }

// .cusArkCollapse, // 用于统一修改下拉collapse的样式，给元素添加此class属性即可
// .jq-combined-commodity,
// .horizontalTableDetail,
// .auto-check,
// .returnAddColl,
// .compositeAllform,
// .order-add,
// .TreasuryDefault,
// .jq-combined-commodity-edit,
// .logisticsArea,
// .sendSingleRule,
// .setWarehouseLogistics,
// .courierPay,
// .financialManageCenter,
// .re_form {
//   .ark-collapse {
//     margin-bottom: 0;
//     border-radius: 0;
//     border: none;
//     background-color: transparent;
//     margin: 0 16px 16px;
//     &>.ark-collapse-item {
//       border-top: none;
//       margin-bottom: 10px;
//       // padding: 10px;
//       background-color: #fff;
//       border-radius: 3px;

//       &.ark-collapse-item-active {
//         &>.ark-collapse-header {
//           border-bottom: 1px solid #f2f2f2;
//           &>i {
//             left: 8px;

//             &.ark-icon:before {
//               width: 3px;
//               height: 14px;
//               border-radius: 3px;
//             }
//           }
//         }
//       }

//       &>.ark-collapse-header {
//         text-align: left;
//         padding: 0 20px;
//         background: transparent;
//         border-top-left-radius: 0;
//         border-top-right-radius: 0;
//         height: 48px !important;
//         line-height: 48px !important;
//         font-size: 14px;
//         color: #1f2d3d;

//         &>i {
//           position: absolute;
//           top: 50%;
//           left: 8px;
//           transform: translateY(-50%);

//           &.ark-icon:before {
//             display: block;
//             content: "";
//             width: 8px;
//             height: 4px;
//             border-radius: 3px;
//             background: @base-color;
//             transition: all .5s;
//           }
//         }

//       }

//       &>.ark-collapse-content {
//         padding: 8px 16px 16px;
//         // border: 1px solid #f7f8fa;
//       }

//     }
//   }
// }

.ark-form-item .el-input__inner {
  font-size: 12px;
}

.popSelect {
  .ark-select {

    .ark-select-selection {
      height: 26px;
      line-height: 26px;
    }
  }
}

.salesTable,
.orderManager-box {
  .agTable {
    border-top: none;
  }
}

//agtable 修改
// 标准
// .detailTable {
//   .ag-header-select-all,
//   .ag-selection-checkbox span {
//     margin-right: 12px;
//   }
// }

// 定制
.agTable {
  border: 1px solid #d3d3d3;

  .ag-theme-balham {
    .ag-cell {
      line-height: 25px;
    }

    .ag-tool-panel {
      border-right: none;
    }

    .ag-header-cell-label .ag-header-cell-text {
      line-height: 30px;
    }

    .ag-header-select-all,
    .ag-selection-checkbox span {
      margin-right: 12px;
    }
  }
}

// 定制界面 搜边距
.returnForm,
.returnstoreage {
  .orderManageEdit {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// 物流区域设置-详情，发货单派单规则-新增/详情，仓库物流优先级方案-新增/详情
.logisticsArea,
.sendSingleRule,
.setWarehouseLogistics {
  position: relative;

  .retrieveBox {
    text-align: center;
    margin: 10px 0;
    font-size: 0;
    width: 100%;

    .retrieveTitle {
      display: inline-block;
      vertical-align: middle;
      width: 36px;
      height: 26px;
      line-height: 26px;
      font-size: 12px;
      font-weight: 400;
      color: #575757;
      text-align: center;
      background-color: #f8f8f8;
      border: 1px solid #d8d8d8;
      border-right: none;
      border-radius: 2px;

    }

    .retrieve {
      height: 26px;
      width: 60%;
      display: inline-block;

      .ark-input {
        border-radius: 0 2px 2px 0;
      }
    }

    .ark-icon {
      color: #808695;
    }
  }
}

// tree 
.ark-tree {
  .ark-tree-arrow-open i:after {
    left: 6px;
  }
}

.ztree li ul.line {
  display: none;
}

.jordan-table {

  .ark-table-fixed tfoot tr,
  .ark-table-fixed-right tfoot tr {
    height: 30px;
  }

  .ark-table-tfoot {
    transform: inherit !important;
  }
}

// 水印

.orderManageEdit .ark-form-item.popInput .item-input .popover-icon {
  color: #8a8a8a;
  right: 10px;
}

// 批量导入弹框- 多选
.dislogtree .node ul li {
  text-align: left;
}

// 组织中心 - - tab
.horizontalTableDetail .ark-tabs-panels-ink-bar {
  background-color: @base-color;
}

// form input左右边距
.returngood,
.jq-combined-commodity,
.returnTreasurys,
.logisticsArea,
.setWarehouseLogistics {

  .orderManageEdit {
    .businessForm_a .popInput .item-input .table-input {
      padding: 0 10px;
    }

    .ark-form-item.popInput .item-input .add-input .el-input__inner {
      padding: 0 !important;
    }
  }
}

// 详情-明细的form-组件businessActionTable
.jordan-table-box .orderManageEdit .businessForm_a {
  padding-top: 6px;
}

// 搜索条件form表单高度未设置导致的windows样式错乱问题修复
.returnGoodList,
.returnTreasury {

  /deep/ .ark-form {

    .ark-form-item-label {
      height: 32px;
    }

    .ark-form-item-content {
      height: 32px;
    }
  }
}

// 左下角图例样式
// .queryDesc,
// .promactiIcon {
//   // height: 26px !important;
//   // line-height: 26px !important;
//   font-family: PingFangSC-Medium;
//   // margin: 0 0 13px !important;

//   .legend {
//     flex: 1;

//     span {
//       font-size: 12px;
//       color: #0F3365;
//       line-height: 12px;
//       font-weight: normal !important;
//       padding-right: 3px;
//     }

//     &>p {
//       display: inline-block;
//       margin-right: 3px;

//       span {
//         font-size: 12px;
//         color: #333333;
//         line-height: 12px;
//         padding: 0;
//       }

//       button {
//         height: 18px;
//         line-height: 12px;
//         font-size: 12px;
//         margin-right: 5px !important;
//         padding: 0px 8px !important;
//         border-radius: 10px;
//         border: 1px solid #b4bbbf !important;
//         font-style: normal;
//         font-weight: normal;
//       }

//       .color-italic-grey {
//         color: #999999 !important;
//       }

//       .color-deep-red {
//         color: #A10000 !important;
//       }

//       .color-bold-green {
//         color: #177D4C !important;
//       }

//       .back-yellow {
//         color: #FF9300 !important;
//       }

//       .color-red {
//         color: #DF0F0F !important;
//       }

//       .color-blue {
//         color: #0657E8 !important;
//       }

//       .color-purple {
//         color: #670FDF !important;
//       }

//       .color-qing {
//         color: #13B3B4 !important;
//       }

//       .color-italic-black {
//         color: #333333 !important;
//       }

//       .inactive-row {
//         // 斜体-否
//       }
//     }
//   }
// }

// 标准详情/新增页明细-布局更改
/* .tabComponent .TableDetailCollection .detail-collection,
.tabComponent .TableDetailCollection {
  flex-direction: column-reverse !important;

  .detail-top {
    margin: 8px 0 2px !important;
    justify-content: center !important;
  }
} */

// 版定制弹框修改
.unFlodStyle,
.hold-form,
.timeBox {
  &+.one_button {
    padding-right: 20px;
  }
}

.ag-bl-overlay {
  top: 65px;
}

.ark-table-body .ark-table-tfoot {
  transform: inherit !important;
}

.ark-table-tfoot tr:first-child td {
  border-top: none;
}

// 标准界面 详情页 page修改
.TableDetailCollection {
  position: relative;
  padding-bottom: 40px;

  .ark-table-border th,
  .ark-table-border td {
    box-sizing: border-box;
  }

  .page-buttons .table-page {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.color_container {
  .right_container .right_input{
    position: relative;
    padding-left: 115px;
    .ark-input-wrapper {
      input{
        height: 28px;
      }
    }
    & > button{
      position: absolute;
      top: 0;
      left: 0;
      &:hover{
        border: 1px solid #dcdee2;
        color: #575757;
      }
    }
  }
}

.importDialog.v-transfer-dom {
  .ark-modal-footer {
    div>div {
      overflow: hidden;

      button {
        float: right;
        margin-left: 10px;
        background: @base-color;
        color: #fff;

        &:hover {
          opacity: .8;
        }

        &+button {
          background: #fff;
          color: @base-color;

          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }
}
.orderManager-box .from .orderSearchBtn,
.v-transfer-dom,
.setGroup {
// 主题库待覆盖

  //标准弹框
  .ark-modal-confirm-footer,
  .modifyButton.R3-button-group {
    button {
      height: 28px;
      min-width: 50px !important;
      padding: 0;
      color: #292F43;
      border-color: #dbdde8;
      border-radius: 2px;

      &:hover {
        opacity: 1;
        background: #fff;
        opacity: .6;
      }

      &:last-child {
        border-color: @base-color;
        background: @base-color;
        color: #fff;
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  // 订单管理-(form表单中的搜索和清除按钮)
  .buttonBox div,
  // 定制弹窗-(eg.退货入库-导入)
  .one_button .buttonBox div {

    .buttonGroup button.ark-btn {

      &>span {
        vertical-align: middle !important;
      }

      &:hover {
        background: #fff;
        opacity: .6;
      }
    }

    &:last-child {
      .buttonGroup button {
        border-color: @base-color ;
        background: @base-color !important;
        color: #fff;

        &.ark-btn:hover {
          background: @base-color;
          opacity: .8;
        }
      }
    }
  }

  // ark组件弹窗 按钮
  .ark-modal-footer {
    &>button {
      &+button {
        &>span {
          color: @button-bg-font;
        }
      }

      &:hover {
        background-color: @button-transparent-hover;
        border: 1px solid transparent;
        opacity: 1;

        &>span {
          color: @button-bg-font;
        }
      }

      border:1px solid @base-color;

      &>span {
        color: @base-color;
      }
    }
  }
}

// 矩阵录入
.ff-order-detail .el-dialog {
  overflow: hidden;

  button.ff-matrix-btn-cancel {
    float: right;
    min-width: 50px;
    padding: 0;

    &:first-child {
      margin-left: 10px;
      background-color: @base-color;
      color: @button-bg-font;

      &:hover {
        opacity: 1;
        background-color: @base-color;
      }
    }

    &:hover {
      opacity: 1 !important;
      background-color: @button-transparent-hover;
      color: @button-bg-font;
    }
  }
}

// 框架内嵌定制页面(功能权限)弹框 按钮
.modalContent .modalButton {
  width: 370px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding-top: 8px;

  button:first-child {
    background-color: @base-color;
    color: @button-bg-font;
  }

  button:hover {
    background-color: @base-color;
    color: @button-bg-font;
  }
}

// 定制弹框 按钮
.modalBth {
  .buttonBox div:last-child {
    .buttonGroup button {
      margin-right: 0;
    }
  }
}

.rk-modal-confirm-footer {
  button:last-child {
    background-color: @base-color;
    color: @button-bg-font;
  }

  button:hover {
    background-color: @base-color;
    color: @button-bg-font;
  }
}

.fkdialog .dialog_right .right_bottom {
  display: flex;
  justify-content: flex-end;

  button+button {
    order: 2;
  }
}

// 半定制弹框 部分公用样式
.semiCustomModal {
  .Modal-Form {
    .Modal-Form-Item {
      display: flex;
      margin-bottom: 10px;

      label {
        width: 120px;
        padding-right: 10px;
        text-align: right;
        line-height: 26px;
      }

      .ark-fkrp-select {
        position: relative;
        width: 100%;
      }
    }
  }

  .one_button .buttonBox {
    div:last-child {
      .buttonGroup button {
        margin-right: 0;
      }
    }
  }
}

// 定制界面fkTable组件兼容标准页面fkTable样式 
#dropDownSelectPopper {
  .ark-page{
    .ark-page-item-jump-next a{
      color: @base-color;
    }
  }
}
.el-popover{
  .view-fktable{
    &>input {
      border: 1px solid #d8d8d8;
      height: 26px;
      line-height: 1; 
      padding: 5px 10px;
      border-radius: 2px;
      margin-bottom: 5px;

      &:focus {
        border-color: #3fa5ed;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(15, 142, 233, 0.2);
      }
    }

    .table {
      tr:hover {
        background-color: #F8F7F7;
      }

      input {
        color: #dcdee2;
      }

      input[type=checkbox]::after {
        display: inline-block;
        width: 13px;
        height: 13px;
        line-height: 13px;
        text-align: center;
        position: relative;
        top: -1px;
        left: 0;
        border: 1px solid @base-color;
        border-radius: 2px;
        background-color: @base-color;
        transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }

      input[type=checkbox]:checked::after {
        content: '✔';
        font-size: 12px;
        color: #fff;
      }
    }
    .page{
      height: auto;
      .el-pagination{
        padding: 0;
        button{
          min-width: 19px;
          height: 19px;
          line-height: 19px;
          margin-left: 5px;
        }
        .el-pager{
          .more:hover{
            color: @base-color;
          }
          .number{
            min-width: 19px;
            height: 19px;
            line-height: 19px;
            margin-left: 5px;
              &.active,&:hover{
                color: @button-bg-font;
                background-color: @base-color;
                border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
.orderManageEdit .businessForm_a .ark-form-item .ark-input-wrapper .ark-input{
  display: block;
}
.orderManageEdit .businessForm_a .ark-form-item .ark-form-item-label{
  height: 32px;
  line-height: 32px;
  padding: 0;
  padding-right: 10px;
}
// 报表中心 - 逻辑仓库查看 iconfont 被覆盖
.ark--dialog .dialog-operation i.iconbj_open{
  transform: rotate(0);
  padding-left: 6px;
  font-size: 12px;
  line-height: 19px;
}
.ark--dialog .dialog-operation i.iconbj_open::before{
  content: '》';
}

// 错误弹框-滚动条
.ark-modal-confirm-footer {
  padding-top: 15px !important;
}
.ark-modal-confirm-body textarea {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c5c2c2;
  }
}
 
// 商品中心
.jordan-table-box .ark-table-border td:first-child, .jordan-table-box .ark-table-border th:first-child{
  min-width: auto;
}
.jordan-table-box .ark-table-border td, .jordan-table-box .ark-table-border th{
  min-width: 70px;
}
.loadingActive .ark-spin{
  top: 35px;
}
.pro_img input{
  border: 1px solid rgb(199, 199, 199);
}
// 标准form label的左边
.FormItemComponent-item {
  // .ItemComponentRoot{
  //   padding-top: 16px;
  // }
  // .itemLabel {
  //   padding-left: 5px !important;
  //   color: #292f43;
  // }
  // .ark-input{
  //   height: 32px;
  //   font-size: 12px;
  //   border: 1px solid #dbdde8;
  //   border-radius: 5px;
  //   color: #292f43;
  // }
}
// elementUl 日期组件
.el-picker-panel__icon-btn {
  font-size: 12px;
  color: #303133;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  padding: 0 6px;
}
// 列表页 翻页/筛选/日期按钮修改
.ark-page.mini .ark-page-options-elevator input{
  text-align: center;
  padding: 0;
}
.ag-theme-balham .ag-filter-filter{
  border:1px solid #E4E4E4;
}
.ag-theme-balham input.ag-filter-filter:focus{
  border-color: #3fa5ed; 
}
.ark-date-picker-transfer {
  .ark-picker-confirm {
    font-size: 0;
  }
  .ark-btn {
    height: 28px;
    min-width: 50px;
    margin-left: 8px;
    &.ark-btn-default {
      border-color: @base-color;
      color: @base-color;
      &:hover{
        opacity: .6;
      }
    }
    &:last-child {
      background: @base-color;
      &:hover {
        opacity: .8;
      }
    }
  }
}

// 权限.vue 的搜索btn
.jurisdiction .right_col {
  .one_button .buttonBox {
    justify-content: flex-end;
  }
}
// 订单管理/零售发货单-列表-按钮样式 特殊处理
.orderManager-box {
  .btn {
    padding: 0 0 5px;
  }
}
// 矩阵多余小三角
.ff-popper-class-triangle{
  display: none;
}
// 框架内置半定制页面调整(eg.商品款号详情-条码、逻辑仓档案详情-店仓群)
.detail-top {
  .detail-search {
    .detail-search-input button {
      height: 26px;
    }
  }
}

// input框hover的样式
.ark-integrate-search-filter-valid,
.ark-page-options-elevator input,
.ark-select-selection,
.ark-input {
  &:hover {
    border-color: @base-color;
  }
}
// 明细 -【保存】、【导入】……
a:hover,
.ark-picker-panel-icon-btn:hover,
.detail-buttons a {
  color: @base-color;
}
.ark-date-picker-cells-cell:hover em {
  background: #fbeceb;
}
.ark-select-visible .ark-select-selection,
.ark-page-options-elevator input:focus,
.el-popover .view-fktable > input:focus,
.ark-input:focus {
  border-color: @base-color;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.order-content .order-content-tab .order-tab-content .order-tab-title:after {
  background: @base-color;
}
//--------------------OMS系统--------------------
