@import '~omsTheme/public.less';

.authorize {
  background-color: #fff;
  margin: @base-mr;
  padding: @base-pd;
  h4 {
    font-size: 15px;
    height: 45px;
    line-height: 45px;
  }

  .authorize-imgs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    .authorize-img {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      padding: 15px;
      margin: 0px -1px -1px 0px;
      img {
        width: 62px;
      }
    }
  }
  .authorize-shop {
    height: auto;
    .shop-one {
      margin-top: 40px;
    }
    .steps {
      display: flex;
      margin-top: 20px;
      li {
        width: 96px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        margin-right: -11px;
        background-repeat: no-repeat;
        background-image: url('/static/img/u63005.png');
      }
    }
    .shop-one-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
    }
  }
  .active {
    color: #fff !important;
  }
}
.foot-btns {
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}
