@fkrp-select-prefix-cls: ~"@{css-prefix}fkrp-select";
@css-prefix-input: ~"@{css-prefix}input";

@fkrp-select-popper-prefix-cls: ~"@{css-prefix}fkrp-select-popper";
@fkrp-select-arrow: ~"@{css-prefix}fkrp-select-arrow";
@fkrp-select-arrow-top: ~"@{css-prefix}fkrp-select-arrow-top";
@fkrp-select-arrow-width: 7px;
@fkrp-select-arrow-outer-width: (@fkrp-select-arrow-width + 1);
@fkrp-select-distance: @fkrp-select-arrow-width - 1 + 4;
@icon-font-distance: @icon-font + 2;
@fkrp-select-arrow-color: hsla(0,0%,85%,.5);

@poptip-prefix-cls: ~"@{css-prefix}poptip";
@poptip-body-prefix-cls: ~"@{css-prefix}poptip-body";
//@iconbj_xldx-prefix-cls: ~"@{css-prefix}icon-iconbj_xldx";
//@iconbj_xldan-prefix-cls: ~"@{css-prefix}icon-iconbj_xldan";
@input-prefix-cls: ~"@{css-prefix}input";
@icon-ios-close-circle-cls: ~"@{css-prefix}icon-ios-close-circle";

.@{fkrp-select-prefix-cls} {
    position: relative;
    &-autocomplete {
        .@{css-prefix-input}[disabled], fieldset[disabled] .@{css-prefix-input} {
            background-color: #ffffff !important;
        }
    }
    &-icon {
        position: absolute;
        right: 4px;
        top: ((@input-height-base - @icon-font-distance ) / 2);
        >i {
            font-size: @icon-font;
        }
    }
    .@{poptip-prefix-cls} {
        position: absolute;
        right: 4px;
        top: ((@input-height-base - 18) / 2);
        .@{poptip-body-prefix-cls} {
            padding: 0;
        }
    }
    //.@{iconbj_xldx-prefix-cls} {
    //    position: absolute;
    //    right: 4px;
    //    top: ((@input-height-base - 18) / 2);
    //}
    //.@{iconbj_xldan-prefix-cls} {
    //    position: absolute;
    //    right: 4px;
    //    top: ((@input-height-base - 18) / 2);
    //}
    .@{input-prefix-cls}{
        padding-right: @icon-font*2+6px;
    }
    .@{icon-ios-close-circle-cls} {
        width: @font-size-base;
        margin-right: @icon-font + 10px;
    }
}

.@{fkrp-select-popper-prefix-cls} {
    position: absolute;
    .@{fkrp-select-arrow} {
        display: block;
        width: 0;
        height: 0;
        border-left: @fkrp-select-arrow-outer-width solid transparent;
        border-right: @fkrp-select-arrow-outer-width solid transparent;
        border-bottom: @fkrp-select-arrow-outer-width solid @fkrp-select-arrow-color;
        position: absolute;
    }
    .@{fkrp-select-arrow}:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        top: 1px;
        margin-left: -@fkrp-select-arrow-width;
        border-left: @fkrp-select-arrow-width solid transparent;
        border-right: @fkrp-select-arrow-width solid transparent;
        border-bottom: @fkrp-select-arrow-width solid #fff;
        position: absolute;
    }
    .@{fkrp-select-arrow-top} {
        display: block;
        width: 0;
        height: 0;
        border-left: @fkrp-select-arrow-outer-width solid transparent;
        border-right: @fkrp-select-arrow-outer-width solid transparent;
        border-top: @fkrp-select-arrow-outer-width solid @fkrp-select-arrow-color;
        position: absolute;
    }
    .@{fkrp-select-arrow-top}:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        bottom: 1px;
        margin-left: -@fkrp-select-arrow-width;
        border-left: @fkrp-select-arrow-width solid transparent;
        border-right: @fkrp-select-arrow-width solid transparent;
        border-top: @fkrp-select-arrow-width solid #fff;
        position: absolute;
    }
}
