@complexs-imageupload: ~"@{css-prefix}imageupload";
@complexs-imageupload-value: ~"@{css-prefix}imageupload-";


.@{complexs-imageupload} {
        display: inline-block;
        display: flex;
        flex-direction: row;
    .@{complexs-imageupload-value}box {
      position: relative;
    //   display: table;
       display: flex;
        flex-direction: column;
      .@{complexs-imageupload-value}namePosition {
        position: relative !important;
        top: 50% !important;
        left: -58px !important;
      }

      .@{complexs-imageupload-value}container {
        height: 100%;
        margin: 0 auto;
        border: 1px solid @border-color-base;
        border-radius: 2px;
        overflow: hidden;
        left: 0;
        // top: 10%;
        position: absolute;
        display: flex;
        flex-direction: column;
        // .cursor {
        //   cursor: none;
        // }
        .@{complexs-imageupload-value}iconX {
          display: block;
          position: absolute;
          z-index: 115;
          top: 6px;
          font-size: 16px;
        }
        .@{complexs-imageupload-value}iconX:hover {
          cursor: pointer;
        }
        .@{complexs-imageupload-value}slider-wrap {
          border-bottom: 1px solid @border-color-base;
          position: absolute;
          height: 85%;
          top: 0;
          //   cursor: url(), auto;
          .@{complexs-imageupload-value}img {
            height: 100%;
            float: left;
            img {
              height: 100%;
            }
          }
        }
        .@{complexs-imageupload-value}bottom {
          position: absolute;
          bottom: 0;
          height: 15%;
          width: 100%;
          .@{complexs-imageupload-value}bottomImage {
            width: 176px;
            height: 100%;
            position: absolute;
            left: 12px;
          }
          .@{complexs-imageupload-value}pointContainer {
            height: 100%;
            // position: relative;
            position: absolute;
            .point {
              display: inline-block;
              line-height: 0;
              height: 100%;
              width: 25%;
              //   margin-right: 2px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .@{complexs-imageupload-value}deleteIcon {
          width: 32px;
          height: 32px;
          display: block;
          position: absolute;
          z-index: 15;
          right: 0;
          text-align: right;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .@{complexs-imageupload-value}pre {
        left: 0;
      }
      .@{complexs-imageupload-value}next {
        right: 0;
      }

      .active {
        border: 1px solid @primary-color;
      }
    }
     .@{complexs-imageupload-value}name {
        height: 10%;
        // width: 100%;
        // display: flex;
        position: relative;
        .@{complexs-imageupload-value}fileContent {
        height: auto;
        width: 20px;
        text-align: center;
        color: @primary-color ;
        background-color:@btn-fcdefault-bg   ;
        border: 1px solid @primary-color;
        border-radius:0 4px 4px 0;
        display: block;
        line-height: 15px;
        padding: 2px 0;
        font-size: 10px;
        // letter-spacing:0px
        }
        .@{complexs-imageupload-value}fileForm {
          position: relative;
          left: -18px;
          width: 65px;
        }
      }
    .@{complexs-imageupload-value}transition {
      transition: 0.5s;
    }
    .@{complexs-imageupload-value}popoverShow {
      z-index: 10000;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        text-align: left;
      }
    }

    .@{complexs-imageupload-value}click {
      color: aliceblue;
      font-weight: bold;
      position: absolute;
      height: 100%;
      margin-top: -20px;
      display: flex;
      justify-content: center;
      align-items: Center;
      bottom: 0;
      z-index: 100;
      cursor: pointer;
      width: 12px;
      background: @border-color-base;
    }
    }




