@select-dropdown: ~"@{css-prefix}select-dropdown";
@dropdown-rel: ~"@{css-prefix}dropdown-rel";
@input-wrapper: ~"@{css-prefix}input";
@select-selection: ~"@{css-prefix}select-selection";
@poptip-rel: ~"@{css-prefix}poptip-rel";
@integrate-search-filter-prefix-cls: ~"@{css-prefix}integrate-search-filter";

.@{integrate-search-filter-prefix-cls} {
    height: 100%;
    &-container {
        display: flex;
    }
    &-valid {
        display: flex;
        border: 1px solid #E4E4E4;
        border-radius: 2px;
        //min-width: 300px;
        .@{input-wrapper} {
            border-radius: 0px;
            border: 0px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .@{select-selection} {
            border-radius: 0px;
            border: 0px;
        }
    }
    &-drop-down {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        border-right: 1px solid #E4E4E4;
        i{
            font-size: @icon-font;
        }
        .@{select-dropdown} {
            margin: 8px -7px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        i{
            font-size: @icon-font;
        }
    }
    &-text {
        font-size: @font-size-small;
        display: inline;
        padding: 0px 10px;
        white-space: nowrap;
    }
    &-text:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    &-text-content {
        display: inline-block;
        vertical-align: middle;
    }
    &-tag {
        margin-left: 10px;
        font-size: @font-size-small;
        font-family: 'Microsoft YaHei';
        white-space: nowrap;
        background-color: #F7F7F7;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .@{select-dropdown} {
            padding: 10px;
        }
        .@{dropdown-rel} {
            padding: 0px 10px;
        }
    }
    &-tag-drop-dext {
        font-size: @font-size-small;
        font-family: 'Microsoft YaHei';
    }
    &-search-item {
        display: flex;
        flex-wrap: wrap;
        > i{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            cursor: auto;
            color: #999999;
        }
    }
    &-search-item-title {
        margin: 6px 5px 0px 0px;
        //line-height: 15px;
        //font-size: 6px;
        line-height: @line-height-computed;
        font-size: @font-size-small;
        font-family: 'Microsoft YaHei';
        color: #999999;
        white-space: nowrap;
    }
    &-search-item-clear {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 6px 5px 0px 5px;
        //line-height: 15px;
        //font-size: 6px;
        line-height: @line-height-computed;
        font-size: @font-size-small;
        font-family: 'Microsoft YaHei';
        color: #999999;
        cursor: pointer;
        white-space: nowrap;
    }
    &-search-item-clear:hover{
        color: #000000;
    }
    &-search-item-list {
        display: flex;
        margin: 6px 5px 0px 5px;
        background:rgba(248,248,248,1);
        border:1px solid rgba(240,240,240,1);
        border-radius:2px;
        line-height: @line-height-computed;
        font-size: @font-size-small;
        font-family: 'Microsoft YaHei';
        position: relative;
        > i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            font-size: @icon-font;
        }
        .@{poptip-rel}{
            display: flex;
        }
    }
    &-search-item-detail {
        padding: 0px 0px 0px 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
