.quicklyGenerate {
  .quick_body {
    .query{
      margin-bottom: 10px;
    }
    .info {
      display: flex;

      .info_tree {
        width: 450px;
        height: 600px;
        margin: 3px 8px;
        padding: 30px;
        border: 1px solid #e2e2e2;
        background: #fff;
      }

      .info_table {
        width: 450px;
        height: 600px;
        margin: 3px 8px;
        padding: 30px;
        border: 1px solid #e2e2e2;
        background: #fff;
      }

      .info_move {
        display: flex;
        padding: 0 15px;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid #e2e2e2;
        margin: 3px 5px;
        background: #fff;

        span {
          border: 1px solid #e2e2e2;
          text-align: center;
          padding: 3px;
          cursor: pointer;
          color: #e2e2e2;
        }
      }
    }
  }
}
