
.timeBox {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  > label {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 12px 10px 0;
    text-align: right;
  }
  /deep/ .timeBox-input {
    flex: 1;
    max-width: calc(100% - 148px);
    height: 26px;
    border-radius: 2px;
    .el-range-input {
      width: 44%;
      font-size: 12px;
    }
    .el-range-separator {
      width: auto !important;
      line-height: 18px !important;
      font-size: 12px;
    }
  }
}
/deep/ .business-form-main .jordanForm_a {
  padding-bottom: 0;
}
