.burgeon-modal-footer {
  border: none;
}

.burgeon-modal-footer button > span {
  font-size: 12px;
}

.burgeon-modal-footer button {
  width: auto;
  border-radius: 2px;
  height: 26px;
  line-height: 0px;
}
