.commodityAuthority {
  height: 100%;
  @import "./order.less";
  .content {
    .tab-content {
      .content-fixed {
        .content-panel.right {
          margin-right: 0;
          width: calc(~"75% - 10px");
        }
      }
    }
  }
  .table-head .oper-bar .input .el-autocomplete input {
    width: 150px;
  }
}
.my-autocomplete {
  .el-autocomplete-suggestion__wrap {
    padding: 4px 0;
  }
  .el-autocomplete-suggestion li {
    padding: 0 5px;
  }
}