.jurisdiction {
  height: 100%;
  padding: 12px;
  .content {
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    order: 3;
    .contentLeft{
      border: none;
      margin: 0;
      padding: 0;
    }
    .tree-center{
      width: 130px;
      padding: 12px;
    }
    .FilterTree_box {
      height: 100%;
      .FilterTree {
        height: 100%;
        /deep/ .ark-tree-arrow {
          margin-right: 2px;
        }
        /deep/ .ark-tree ul li {
          line-height: 20px;
          & .ark-tree-title {
            line-height: 24px;
          }
          & > span {
            margin-bottom: 4px;
          }
        }
      }
    }
    .right_col {
      height: 100%;
      display: flex;
      width: 100%;
      border: 1px solid #d8d8d8;
      border-radius: 6px;
      .downComponent{
        border: none;
      }
      .fromHeight{
        display: flex;
      }
      .SelectTree_box {
        height: 100%;
        display: flex;
        .SelectTree {
          height: 100%;
        }
      }
      .SearchForm_Table {
        height: 100%;
        padding: 8px 12px;
        display: flex;
        flex: 1;
        flex-direction: column;
        .SearchForm {
          width: 100%;
        }
        .table_content {
          // margin-top: 10px;
        }
      }
    }
  }
}