.returnGoodList {
  
  /deep/ .ark-form {

    .ark-form-item-label {
      height: 32px;
    }
    .ark-form-item-content {
      height: 32px;
    }
  }
  .salesTable {
    .businessLabel {
      margin-top: 8px;
    }
    .tableBox {
      border-top: none;
    }
  }
  .jordan-table-box .page-box {
    margin-top: 0;
  }
  .returnForm {
    position: relative;
    .fromLoading {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1000 !important;
    }
  }
  .burgeon-btn > .burgeon-icon {
    margin-left: 3px;
  }
  .fromLoading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000 !important;
  }
}
.tableFooter {
  padding: 10px 10px 10px 0px;
  .tableFooter_border {
    padding: 2px 4px;
    border: 1px solid red;
  }
}