.orderContent {
  display: flex;
  margin-bottom: 5px;
  .one_button {
    padding: 0 !important;
    .buttonBox {
      margin-top: 32px;

      button {
        height: 24px;
        min-width: auto;

        span {
          height: 100%;
          line-height: 22px;
        }
      }
    }
  }
}