// 设置主题，以及变量
// button
.button(@color:#fd6442,@fontColor:#444,@bgColor:#fff) {
  .btn .one_button {
    .buttonBox {
      .buttonGroup button {
        border-color: @color;
        color: @color;
      }
    }
  }
  .ark-btn-fcdefault{
    color:@color;
    border-color: @color;
    &:hover {
        color: @color;
        border-color:@color;
        opacity: .6;
    }
  }
}
// tab
.tab(@color:#fd6442){
  .tab-list {
    .active{
      border-top: 2px solid @color !important;
      color: @color !important;
    }
  }
}


//调用样式
.blue{
  .button(blue);
  // .active();
}
.Pink{
  .button(Pink)
}
.CoralRed{
  .button(red)
}
