// 设置公共变量以及常用的一些方法
@publicColor: #1989fa;

// 所有button
.button(@color: @publicColor, @fontColor: #fff) {
  .btn .one_button {
    .buttonBox {
      .buttonGroup button {
        border-color: @color;
        color: @color;
      }
    }
  }

  .ark-btn-fcdefault {
    color: @color;
    border-color: @color;

    &:hover {
      color: @color;
      border-color: @color;
      opacity: 0.6;
    }
  }

  .ark-btn-posdefault {
    border-color: @color;
    background: @color;

    &:hover {
      color: @fontColor;
      background-color: @color;
      border-color: @color;
    }
  }

  .one_button .buttonBox {
    .buttonGroup {
      button.ark-btn {
        border-color: @color;
        color: @color;

        &:hover {
          background: #fff;
          opacity: 0.6;
        }
      }
    }
  }

  // 促销
  .promactiquery,
  .promactiqueryList {

    .head_botton button,
    div.favoriteForm {
      border: 1px solid @color;
      background: @fontColor;
      color: @color;

      &.active {
        background: @color;
        color: @fontColor;
      }
    }

    .main_body .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
      color: @color;
    }

    .main_body .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
      color: @color;
    }
  }

  .buttonFk button[data-v-103544ac] {
    border: 1px solid @color;
    color: @color;
  }

  .row {
    .add {
      background: @color;
    }

    .import[data-v-39edb6c6] {
      border: 1px solid @color;
      background: @color;
      color: @fontColor;
    }
  }

  .basicInfo,
  .batchInfoSet,
  .infoSet,
  .giftSet {
    .row .form_button>button {
      border: 1px solid @color;
      color: @color;
    }
  }
}

// 主表tab
.tab(@color: @publicColor) {
  .tab-list {
    .active {
      border-top: 2px solid @color  !important;
      color: @color  !important;
    }
  }

  .emptying {
    i.iconfont {
      color: @color  !important;
    }
  }

  .table {
    .jordan-label-box .colorStyle {
      color: @color;
    }
  }
}

// checked
.checked(@color: @publicColor) {
  .ark-checkbox-checked {

    &:hover .ark-checkbox-inner,
    .ark-checkbox-inner {
      border-color: @color;
      background-color: @color;
    }
  }

  .ark-radio-checked {
    &:hover {
      border-color: @color;
    }

    .ark-radio-inner {
      border-color: @color;

      &:after {
        background-color: @color;
      }
    }
  }
  .ark-radio-focus {
    box-shadow: none;
  }
}

// table
.table {}

// 页面page
#page {

  // page 页码
  .page(@color: @publicColor) {
    .ark-page {

      .ark-page-item,
      .ark-page-prev,
      .ark-page-next {
        &:hover {
          border-color: @color;
          background-color: @color;
        }
      }

      .ark-page-item-active {
        border-color: @color;
        background-color: @color;
      }
    }
  }

  // select 选择条数
  .selectList(@color: @publicColor) {
    .ark-select-dropdown-list {
      .ark-select-item-selected {
        color: @color;
      }

      .ark-select-item:hover {
        color: @color;
      }
    }
  }

}

// 头部导航
#nav {

  /* 导航背景颜色/导航鼠标经过背景颜色/其他按钮鼠标经过颜色 */
  .navBg(@color: #0f3365, @hoverColor: #092750, @liHoverBg: #0068b7) {
    .navigator {
      background-color: @color;

      .navigator-primary-menu {
        &:hover {
          background-color: @hoverColor;
        }
      }

      .navigator-sub-menu .menu-group {
        li.item {
          &:hover {
            background-color: @liHoverBg;
          }
        }
      }

      .nav-search {
        input {
          background-color: @color;
        }
      }

      .tag:hover {
        background-color: @hoverColor;
      }
    }
  }
}

// 侧边栏菜单 收藏和历史
#menu {

  /* 菜单背景色/菜单背景色鼠标经过/字体颜色/收起菜单鼠标经过字体颜色 */
  .historyFavorite(@bgColor: #0f3365, @hoverColor: #173155, @fontColor: #fff, @collectFontColor: #303133) {
    .history-and-favorite {

      //  background: @bgColor;
      .history-favorite-container {
        background-color: @bgColor;

        .favorite,
        .history {
          div.label {
            color: @fontColor;
            background-color: @bgColor;
          }

          ul li {
            color: @fontColor;

            &:hover {
              background-color: @hoverColor;
            }
          }

          ul.onMouseOverShow li {
            color: @collectFontColor;

            &:hover {
              color: @fontColor;
            }
          }
        }
      }
    }
  }
}

// 搜索from
#from {
  .customizedFrom(@color: @publicColor) {
    #content {
      .from-folding {
        background-color: @color;
      }
    }
  }

  .standardFrom(@bgcolor: @publicColor) {
    .downComponent-context {
      .tag-close {
        background-color: @bgcolor;
      }
    }
  }
}

// 定制界面
#customized {

  // malda
  .modal(@color: @publicColor, @bgColor: transparent) {
    .dialog-footer {
      .ark-btn {
        color: @color;
        border-color: @color;
        background: @bgColor;

        &:hover {
          color: @color;
          border-color: @color;
          background: @bgColor;
          opacity: .6;
        }
      }
    }

    .downLoadModal {
      .ark-btn-primary {
        background-color: @color;
        border-color: @color;
      }

      .ark-btn-text:hover {
        color: @color;
      }
    }
  }

  // 订单管理
  .orderAdd(@color: @publicColor) {
    .jordan-label-box {
      .jordan-label {
        &.colorStyle {
          color: @color;
        }
      }

    }
  }

  // 促销
  .promotion (@color: @publicColor) {

    .basicInfo,
    .batchInfoSet,
    .infoSet,
    .giftSet {
      .title i {
        color: @color;
      }
    }

    .stepsBars {
      .steps-item {
        .steps-head {
          .step-finish[data-v-1cab84ca] {
            color: @color;
          }
        }
      }
    }

    .addOrEditActi {
      .steps_content {
        .footer[data-v-2698e3ce] {
          color: @color;

          &>button {
            border: 1px solid @color;
            font-size: 12px;
            color: @color;
          }
        }
      }
    }
  }

  // 系统配置
  .system(@color: @publicColor) {
    .ark-spin {
      color: @color;
    }

    .ark-tree-arrow i {
      color: @color;
    }

    .rightware_table {

      .el-tabs__item.is-active,
      .el-tabs__item:hover {
        color: @color;
      }
    }
  }
}

// 标准界面
#standard {

  // 单对象界面 上下结构
  .tab(@color: @publicColor) {
    .ark-tabs-panels.ark-tabs-panels-singleCard {
      &>.ark-tabs-panels-bar {
        .ark-tabs-panels-tab-active {
          color: @color;
        }
      }
    }
  }
}