// 设置公共样式方法
// button
.button(@color:#1989fa,@fontColor:#fff) {
  .btn .one_button {
    .buttonBox {
      .buttonGroup button {
        border-color: @color;
        color: @color;
      }
    }
  }
  .ark-btn-fcdefault {
    color: @color;
    border-color: @color;
    &:hover {
      color: @color;
      border-color: @color;
      opacity: 0.6;
    }
  }
  .ark-btn-posdefault {
    border-color: @color;
    background: @color;
    &:hover {
      color: @fontColor;
      background-color: @color;
      border-color: @color;
    }
  }
  .one_button .buttonBox {
    .buttonGroup {
      button.ark-btn {
        border-color: @color;
        color: @color;
      }
    }
  }
  // 促销
  .promactiquery,
  .promactiqueryList {
    .head_botton button,
    div.favoriteForm {
      border: 1px solid @color;
      background: @fontColor;
      color: @color;
      &.active {
        background: @color;
        color: @fontColor;
      }
    }
    .main_body
      .el-tabs--border-card
      > .el-tabs__header
      .el-tabs__item.is-active {
      color: @color;
    }
    .main_body
      .el-tabs--border-card
      > .el-tabs__header
      .el-tabs__item:not(.is-disabled):hover {
      color: @color;
    }
  }
  .buttonFk button[data-v-103544ac] {
    border: 1px solid @color;
    color: @color;
  }
  .row {
    .add {
      background: @color;
    }
    .import[data-v-39edb6c6] {
      border: 1px solid @color;
      background: @color;
      color: @fontColor;
    }
  }
  .basicInfo,
  .batchInfoSet,
  .infoSet,
  .giftSet {
    .row .form_button > button {
      border: 1px solid @color;
      color: @color;
    }
  }
}
// tab
.tab(@color:#1989fa) {
  .tab-list {
    .active {
      border-top: 2px solid @color !important;
      color: @color !important;
    }
  }
  .emptying {
    i.iconfont {
      color: @color !important;
    }
  }
  .table {
    .jordan-label-box .colorStyle {
      color: @color;
    }
  }
}
// checked
.checked(@color:#1989fa) {
  .ark-checkbox-checked {
    &:hover .ark-checkbox-inner,.ark-checkbox-inner {
      border-color: @color;
      background-color: @color;
    }
  }
  .ark-radio-checked .ark-radio-inner {
    border-color: @color;
    &:after {
      background-color: @color;
    }
  }
}
// page的命名空间
#page {
  // page 页码
  .page(@color:#1989fa) {
    .ark-page {
      .ark-page-item,
      .ark-page-prev,
      .ark-page-next {
        &:hover {
          border-color: @color;
          background-color: @color;
        }
      }
      .ark-page-item-active {
        border-color: @color;
        background-color: @color;
      }
    }
  }
  // select 选择条数
  .selectList(@color:#1989fa) {
    .ark-select-dropdown-list {
      .ark-select-item-selected {
        color: @color;
      }
      .ark-select-item:hover {
        color: @color;
      }
    }
  }
}
// 模块的命名空间#092750
#nav {
  .navBg(@color:#0f3365,@hoverColor:#092750,@liHoverBg:#0068b7) {
    .navigator {
      background-color: @color;
      .navigator-primary-menu {
        &:hover {
          background-color: @hoverColor;
        }
      }
      .navigator-sub-menu .menu-group {
        li.item {
          &:hover {
            background-color: @liHoverBg;
          }
        }
      }
      .nav-search {
        input {
          background-color: @color;
        }
      }
      .tag:hover {
        background-color: @hoverColor;
      }
    }
  }
}
#menu {
  .historyFavorite(@bgColor:#0f3365,@hoverColor:#173155,@fontColor:#fff,@collectFontColor:#303133) {
    .history-and-favorite {
      //  background: @bgColor;
      .history-favorite-container {
        background-color: @bgColor;
        .favorite,
        .history {
          div.label {
            color: @fontColor;
            background-color: @bgColor;
          }
          ul li {
            color: @fontColor;
            &:hover {
              background-color: @hoverColor;
            }
          }
          ul.onMouseOverShow li {
            color: @collectFontColor;
          }
        }
      }
    }
  }
}
#from {
  .customizedFrom(@color:#0268b6) {
    #content {
      .from-folding {
        background-color: @color;
      }
    }
  }
  .standardFrom(@bgcolor:#0268b6) {
    .downComponent-context {
      .tag-close {
        background-color: @bgcolor;
      }
    }
  }
}
#table {
}
#customized {
  // 促销
  .promotion (@color:#1989fa) {
    .basicInfo,
    .batchInfoSet,
    .infoSet,
    .giftSet {
      .title i {
        color: @color;
      }
    }
    .stepsBars {
      .steps-item {
        .steps-head {
          .step-finish[data-v-1cab84ca] {
            color: @color;
          }
        }
      }
    }
  }
}
