
.channelSkuStrategyAddOrEdit {
  .one_button .buttonBox button {
    min-width: unset !important;
    border-radius: 4px !important;
  }

  .item-input .add-input {
    border-radius: 4px !important;
  }





  .ark-form-item-error .ark-input {
    border-color: #dcdee2;

    &:hover {
      border-color: #dcdee2;
    }
  }


  .ark-page-options {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .ark-page-options-sizer {
    margin-top: -1px;
    .ark-select-selection {
      border-radius: 3px !important;
    }
  }
}
