.header {
  background-color: #eee;
  color: black;
  font-size: 13px;
}
.invoice-content /deep/ .orderManageEdit.unFlodStyle{
  padding-right:0;
}
.footer {
  width: 100%;
  margin-top: 20px;
}
.ark-radio-group-button.ark-radio-group-small .ark-radio-wrapper:first-child {
  border-color: @button-border;
  color: @button-transparent-font;
}
