@import '~burgeonComponents/burgeon.publish/common/css/theme.less';

.financialManageCenter {
  .barcodeDetails {
    background-color: #fff;
    .detailButtons {
      padding: 8px 12px;
    }
    /deep/ .ark-form-item {
      margin-bottom: 0;
    }
  }
  /deep/ .business-form-main {
    .ark-fkrp-poptip div {
      outline: none;
      height: 30px;
    }
    .item-col label.title i {
      top: auto;
      left: -2px !important;
      font-size: 12px;
      height: auto;
      line-height: inherit;
      vertical-align: inherit;
    }
    .ark-row {
      div.ark-col-span-8:nth-child(8) {
        .item-col .add-input {
          color: #575757;
          padding: 0 10px !important;
        }
      }
    }
  }
}

/* .ark-table-wrapper {
  margin-top: 8px;
} */

.order .table {
  display: flex;
}

.order .barcodeDetails,
.order .orderDetails {
  width: 100%;
}
.financialManageCenter {
  position: relative;
  .fromLoading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000 !important;
  }
}