.business-form-main {
  border: 1px solid #d3d3d3;

  .cusForm-content.noFlod {
    padding: 0 8px 14px;
  }

  .tag-close {

    &.bottomCenter {
      &+.cusForm-content {
        padding: 0 8px 14px;
      }
    }

    &.rightTop {
      &+.cusForm-content {
        padding: 0 30px 8px 0;
      }

      &~.cusForm-button {
        right: 30px !important;
      }
    }

    &.bottomCenter {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      & {
        border-radius: 6px 6px 0 0;
        width: 60px;
        height: 12px;
        line-height: 12px;
        background: #e9ecf4;
        color: #b9b9c0;
        font-size: 16px;
        font-weight: 800;

        & i {
          font-weight: 600;
          line-height: 12px;
          width: 100%;
        }
      }
    }
  }

  .cusForm-content {

    .long {
      display: none;
    }

    .ark-form-item {
      padding-top: 8px;
      margin-bottom: 0;

      &.ele-select {
        /deep/.el-select {
          width: 100%;
          .el-input--suffix .el-input__inner {
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            padding-left: 8px;
          }
        }
      }
    }
  }

  .cusForm-button {
    position: absolute;
    right: 10px;
    bottom: 10px;

    button {
      margin: 0 8px 0 0;
      padding: 0 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.el-select-dropdown.el-popper {
  .el-select-dropdown__item {
    font-size: 12px;
    &.selected {
      color: var(--b2-color);
    }
  }
}

.business-form-main {
  // padding-top: 16px;
  position: relative;

  .flodBtn {
    width: 28px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: var(--b1-color);
    position: absolute;
    right: 0;
    top: 0;
  }

  /deep/ .ark-form-item-label {
    min-height: 33px;
    // #bundle>.points;
    // 超出点点点
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // 覆盖框架弹窗多选组件
  /deep/ .ark-form-item-content .item-input {
    label.title {
      min-height: 33px;
      // #bundle>.points;
      // 超出点点点
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  /deep/ .ark-form-item {
    margin-bottom: 10px;

    // popInput
    &.popInput {
      .ark-form-item-content {
        .item-input {
          display: inline-block;

          .fk-tooltip.ark-tooltip {
            position: inherit;
            top: auto;
            right: auto;
            display: inline-block;
          }
          
          .popover-icon {
            .iconfont {
              width: 32px;
              text-align: center;
            }
          }
        }

        // .add-input
        .add-input {
          width: 100%;
          margin: 0;

          .el-input.is-disabled .el-input__inner {
            background: #fff;
          }
        }
      }
    }

    /* 日期组件宽度调整 */
    .ark-date-picker {
      width: 100%;
    }

    /* 双数字输入框样式 */
    .bothNumInput {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  /* 标注图标样式 */
  .help-circle.ark-tooltip {
    position: absolute;
    right: -20px;
    top: 8px;

    .ark-icon {
      font-size: 18px;
      color: #ed4014;
    }
  }
}

// 弹窗表单去掉左右内边距
.cus-modal .cusForm-content.noFlod {
  padding: 0 0 14px;
}

// /* 插槽字段的必填标识 */
.req-star .ark-form-item-label::before {
  color: red;
  position: relative;
  content: '* ';
}