.legend-wrap {
  height: 30px;
  line-height: 30px;
  display: flex;
  font-size: 10px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  flex: 1;
  -webkit-box-flex: 15;
  -ms-flex: 15;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // margin-bottom: 10px;
  position: relative;
  > div {
    flex: 1;
  }
  .legend {
    > p {
      display: inline-block;
      button {
        border: 1px solid #575757;
        margin-right: 2px;
        background: white;
        padding: 0px 3px;
      }
      .color-blue {
        color: #00f;
        font-weight: 400;
      }
      .color-italic-grey {
        color: #999;
      }
      .color-italic-black {
        color: #000;
      }
      margin-right: 3px;
    }
  }
}
