@import '~@burgeon/oms-theme/skin/public.less';

.jordan-label-box {
  display: flex;
  flex-wrap: wrap;

  .jordan-label {
    border-bottom: 1px solid #f4f5f9;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    display: flex;
  }

  .colorStyle {
    position: relative;
    border-bottom: 2px solid @base-color;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: @base-color;
  }

  .underline-flex {
    flex: 1;
    border-bottom: 1px solid #f4f5f9;
  }
}