.tableInput .ark-form-item {
  margin-bottom: 0 !important;

  .ark-form-item-content {
    margin-left: 0 !important;

    .item-input {
      margin: 0 !important;

      .add-input {
        width: 100%;
        border-radius: none !important;
        padding: 0 !important;
        border: none !important;
      }
    }
  }

  .el-input__inner {
    height: 24px !important;
    line-height: 24px !important;
    padding: 0 15px 0 5px;
  }
}