i {
	font-style: normal;
}

.monitoringPlatform {
	background-color: rgb(241, 241, 241);
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;

	// ---------------- 公共样式 start ----------------
	.comItem {
		border: 1px solid #E6EAF0;
		border-radius: 4px;
	}

	.btn {

		/deep/ .ark-btn-text,
		.ark-btn-primary {
			padding: 4px 8px;
			border: none;
			margin-left: 4px;
		}

		/deep/ .ark-btn-text {
			background-color: rgb(247, 249, 252);
		}

		/deep/ .ark-btn-primary {
			background-color: rgb(86, 98, 178);
		}
	}

	.mainHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 10px 0;

		&>span {
			font-size: 18px;
			font-weight: bold;
			color: #3B4859;
		}
	}

	.mainContent {
		// min-height: 200px;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		margin-bottom: 10px;
		padding: 16px;
		position: relative;

		&:last-child,
		&:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			height: 48px;
			line-height: 48px;
			margin-bottom: 10px;
		}

	}

	// ---------------- 公共样式 end ----------------

	.header {
		position: relative;
		padding-bottom: 10px;

		.time {
			float: right;
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}

	.main01 {
		position: relative;
		padding-bottom: 32px;

		&::after {
			content: '';
			height: 1px;
			width: 80vw;
			background-color: #F2F2F2;
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
		}

		.main01body {
			display: flex;

			.left {
				flex: .4;
				height: 200px;
				margin-right: 16px;
			}

			.right {
				flex: .6;
				display: grid;
				width: 500px;
				height: 200px;
				grid-template-columns: repeat(3, auto);
				grid-template-rows: repeat(auto-fill, 100px);
				grid-gap: 16px;
				grid-auto-flow: row dense;
				overflow: auto;
			}

			.rightItem {
				position: relative;
				padding: 10px;

				.title {}

				.status {
					height: calc(100% - 26px);
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 28px;
				}

				.detail {
					float: right;
				}

				&.abnormal {

					/deep/ .iconfont,
					.status,
					.sum {
						color: #FF6951;
					}
				}

				&.normal {

					/deep/ .iconfont,
					.status,
					.sum {
						color: #90BB57;
					}
				}
			}
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
			background-color: rgb(114, 96, 96);
		}

		40% {
			opacity: 0.5;
			background-color: rgb(161, 156, 156);
		}

		100% {
			opacity: 1;
			background-color: #fff;
		}

	}

	@-webkit-keyframes fade-in {

		/*针对webkit内核*/
		0% {
			opacity: 0;
			background-color: rgb(114, 96, 96);
		}

		40% {
			opacity: 0;
			background-color: rgb(161, 156, 156);
		}

		100% {
			opacity: 1;
			background-color: #fff;
		}
	}

	.main02 {
		position: relative;
		padding-top: 16px;

		.main02body {
			display: grid;
			grid-template-columns: repeat(5, auto);
			grid-template-rows: repeat(auto-fit, 120px);
			grid-gap: 16px;

			&.fadeInDom {
				animation: fade-in;
				animation-duration: 1.5s;
				-webkit-animation: fade-in 1.5s;
			}

			.m2Item {

				.title {
					position: relative;
					background-color: rgb(247, 248, 251);
					padding: 10px;

					.warnIcon {
						position: absolute;
						right: 10px;
					}
				}

				.itemData {
					position: relative;
					margin: 10px;

					& span:last-child {
						position: absolute;
						right: 10px;
					}
				}
			}
		}

	}

	.main03 {
		.main03body {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			// grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
			grid-gap: 16px;
			// grid-auto-flow: row;
			grid-auto-rows: 150px;

			&.fadeIn {
				animation: fade-in;
				animation-duration: 1.5s;
				-webkit-animation: fade-in 1.5s;
			}

			.m3Item {
				padding: 16px;
				position: relative;

				.title {
					position: relative;

					& span:last-child {
						position: absolute;
						right: 0;
					}
				}

				.itemData {
					padding: 16px;
					background-color: #ccc;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

	}
}