/* radio框样式调整 */
.jordanModal-- {
  .header {
    background-color: #eee;
    color: black;
    font-size: 13px;
  }

  .footer {
    width: 100%;
    margin-top: 20px;
  }

  img {
    width: 14px;
    height: auto;
  }
}
