.jordanModal {
  // width: 380px;
  .jordanModal_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    label {
      width: 70px;
    }
    /deep/.ark-fkrp-select-icon {
      right: 6px;
      top: 0;
    }
    .one_button{
      padding-right: 8px;
    }
  }
  .header {
    background-color: #eee;
    color: black;
    font-size: 13px;
  }
  .footer {
    width: 100%;
    margin-top: 20px;
  }
}
