@import "~@burgeon/oms-theme/skin/public.less";

i {
	font-style: normal;
}

.monitoringPlatform {
	background-color: rgb(247, 248, 252);
	height: calc(100vh - 102px);
	display: flex;
	flex-direction: column;

	// ---------------- 公共样式 start ----------------
	.title {
		position: relative;

		i.iconfont {
			color: #fff;
			height: 18px;
			width: 18px;
			text-align: center;
			border-radius: 2px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				font-size: 18px;
			}
		}

		span {
			padding-left: 26px;
			display: inline-block;
			height: 22px;
			line-height: 22px;
			color: #292F43;
			font-weight: bold;
		}
	}

	.comItem {
		box-sizing: border-box;
		border: 1px solid #E6EAF0;
		border-radius: 4px;
	}

	.btn {

		/deep/ .ark-btn-text,
		.ark-btn-primary {
			padding: 4px 8px;
			border: none;
			margin-left: 4px;
		}

		/deep/ .ark-btn-text {
			color: #292F43;
			background-color: rgb(247, 249, 252);
		}

		/deep/ .ark-btn-primary {
			background-color: #5461B8;
		}

		.iconBtn {
			padding: 2px 8px;
		}

		&>div {
			display: inline-block;
		}
	}

	.mainHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 16px 0;

		&>span {
			font-size: 18px;
			font-weight: bold;
			color: #3B4859;
		}
	}

	.mainContent {
		// min-height: 200px;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		margin-bottom: 10px;
		padding: 16px;
		position: relative;

		&:last-child,
		&:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			height: 48px;
			line-height: 48px;
			margin-bottom: 10px;
		}

	}

	// ---------------- 公共样式 end ----------------

	.header {
		position: relative;
		padding: 16px 0;

		.time {
			position: relative;
			float: right;
			padding-right: 5px;

			span {
				margin-right: 26px;
			}

			i.iconfont {
				position: absolute;
				color: #5461B8;
				font-size: 23px;
				right: 2px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}

	.main01 {
		position: relative;
		padding-bottom: 32px;

		&::after {
			content: '';
			height: 1px;
			width: calc(100% - 10px);
			background-color: #F2F2F2;
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
		}

		.main01body {
			display: flex;

			.left {
				flex: .4;
				// height: 200px;
				padding: 0 16px;
				margin-right: 16px;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				#main01Left {
					position: relative;
					width: 170px;
					height: 170px;
					background-color: #fff;
					border-radius: 50%;
					border: 18px solid #FF6951;

					i {
						color: #F86D59;
						font-size: 28px;
						font-weight: bold;
						position: absolute;
						display: inline-block;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				.legend {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					padding: 70px 0;

					div {
						height: 26px;
						line-height: 26px;

						span {
							display: inline-block;
							min-width: 36px;
							margin-right: 16px;
							color: #8D91A1;
						}

						i {
							color: #2F364C;
							font-weight: bold;
						}
					}
				}
			}

			.right {
				flex: .6;
				display: grid;
				// width: 500px;
				min-height: 180px;
				max-height: 276px;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				grid-template-rows: repeat(auto-fit, minmax(130px, 1fr));
				grid-auto-rows: 130px;
				grid-gap: 16px;
				grid-auto-flow: row dense;
				overflow: auto;
			}

			.rightItem {
				position: relative;
				padding: 13px;

				.status {
					height: calc(100% - 40px);
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 30px;
					font-weight: 500;
				}

				.detail {
					float: right;
					color: #292F43;
					height: 22px;
					line-height: 22px;
				}

				&.abnormal {

					/deep/ .iconfont,
					.status,
					.sum {
						color: #FF6951;
					}

					.iconfont {
						background: rgba(255, 105, 81, 0.1);
					}

					&.clickCss {
						border: 2px solid #FF6951;
					}
				}

				&.normal {

					/deep/ .iconfont,
					.status,
					.sum {
						color: #90BB57;
					}

					.iconfont {
						background: rgba(144, 187, 87, 0.1);
					}

					&.clickCss {
						border: 2px solid #90BB57;
					}
				}
			}
		}
	}

	@keyframes fade-in {
		0% {
			// opacity: 0;
			// background-color: rgb(114, 96, 96);
			// max-height: 60%;
			height: 370px;
		}

		/* 30% {
			// opacity: 0.5;
			// background-color: rgb(161, 156, 156);
			// max-height: 70%;
			height: 360px;
		} */

		50% {
			// opacity: 0.5;
			// background-color: rgb(161, 156, 156);
			// max-height: 80%;
			height: 450px; // 不设不行，不设的话没有过渡效果；设置的话不知道具体要设置多少，因为未展开的高度未知
		}

		/* 70% {
			// opacity: 0.5;
			// background-color: rgb(161, 156, 156);
			// max-height: 80%;
			height: 380px;
		} */

		100% {
			// opacity: 1;
			// background-color: #fff;
			max-height: 100%;
			height: 100%;
		}

	}

	// @-webkit-keyframes fade-in {
	// 	/*针对webkit内核*/
	// }

	.main02 {
		position: relative;
		padding-top: 26px;

		.main02body {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
			grid-template-rows: repeat(auto-fit, auto);
			grid-auto-rows: 176px;
			grid-gap: 16px;
			grid-auto-flow: row dense;
			min-height: 176px;
			// max-height: 296px;
			overflow: hidden;

			&.fadeInDom {
				// animation: fade-in;
				// animation-duration: 1.5s;
				// -webkit-animation: fade-in 1.5s;
				// animation-fill-mode: forwards;
				// height: auto;
				// max-height: 100%;
				// max-height: 600px;
				// height: 600px;
				// transition: 2s;
			}

			.m2Item {
				max-width: 300px;

				.title {
					background-color: rgb(247, 248, 251);
					padding: 8px 16px;

					.statusIcon {
						right: 16px;
					}
				}

				&.abnormal {

					/deep/ .iconfont.statusIcon {
						color: #FF6951;
						background: rgba(255, 105, 81, 0.1);
					}
				}

				&.normal {

					/deep/ .iconfont.statusIcon {
						color: #90BB57;
						background: rgba(144, 187, 87, 0.1);
					}
				}

				.content {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
				}

				.itemData {
					margin: 16px;
					display: flex;
					justify-content: space-between;

					&.gray {
						color: #8D91A1;
					}

					&.green {
						color: #90BB57;
					}

					&.red {
						color: #FF6951;
					}
				}
			}
		}

	}

	.main03 {
		.btnEx {
			display: flex;
			align-items: center;

			&>i {
				display: inline-block;
				width: 1px;
				height: 26px;
				background-color: #F2F2F2;
				margin: 0 16px 0 20px;
			}
		}

		.main03body {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-template-rows: repeat(auto-fit, auto);
			grid-auto-rows: 222px;
			grid-gap: 16px;
			grid-auto-flow: row dense;
			min-height: 222px;
			// max-height: 356px;
			overflow: hidden;
			/* .main03body-main{
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				grid-template-rows: repeat(auto-fit, auto);
				grid-auto-rows: 222px;
				grid-gap: 16px;
				grid-auto-flow: row dense;
				min-height: 222px;
				// max-height: 356px;
				overflow: hidden;
			} */

			&.m3fadeInDom {
				// animation: fade-in;
				// animation-duration: 1.5s;
				// -webkit-animation: fade-in 1.5s;
			}

			.m3Item {
				position: relative;

				.title3 {
					height: 40px;
					line-height: 40px;
					padding: 0 12px;
					font-size: 12px;
					color: rgba(0, 0, 0, 0.85);
					display: flex;
					justify-content: space-between;

					span:first {
						color: #8D91A1;
					}

					span {
						&:first-child {
							font-weight: bold;
						}

						&:last-child {
							color: #8D91A1;
						}
					}
				}

				.gaugeTitle {
					position: absolute;
					bottom: 45px;
					left: 0;
					color: rgba(0, 0, 0, .45);
					width: 100%;
					text-align: center;

					.ark-tooltip {
						color: @base-color;
						vertical-align: text-bottom;
					}

					.gaugeTips {
						font-size: 12px;
						color: #8D91A1;
						width: 100px;
						white-space: pre-wrap;
					}
				}
			}
		}

	}

	.main02body,
	.main03body {
		position: relative;

		&.noData {
			height: 220px !important;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 150px;
				height: 158px;
				margin-bottom: 32px;
			}

			span {
				display: inline-block;
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translateX(-50%);
				color: #8D91A1;
			}
		}
	}
}