@import "../sendSingleRule.less";

.setWarehouseLogistics {

  .orderManageEdit .businessForm_a .popInput .item-input .table-input {
    padding: 0 10px;
  }
  .tableContent {
    .tableBox {

      .tableSynchronous {

        .btn1 {
          margin: -12px 0 0 -25px;
        }

        .btn2 {
          margin: 25px 0 0 -25px;
        }
      }
    }
  }
}
