.auditOrderStrategy {
    .audit_form {
        .conditions {
            p {
                display: flex;
                margin-bottom: 20px;
                .popInput {
                    height: 24px;
                    /deep/ .item-input {
                         .clear {
                            bottom: 3px;
                        }
                        .popover-icon {
                            top: 11px;
                            right: 12px;
                            i{
                                color: #8A8A8A;
                               font-size: 12px; 
                            }
                            
                        }
                         .CP_C_SHOP_ID {
                        padding: 0;
                        margin: 0;
                        input {
                            height: 100%;
                            background-color: #fff;
                            border: 0 solid #fff;

                        }
                    }
                    }
            }
            .label {
                    width: 90px;
                    margin-right: 60px;
                    text-align: right;
                    i{
                        color: red;
                        width: 20px;
                        display: inline-block;
                        text-align: left;
                    }
                    line-height: 28px;
                }
            .switch{
                width:30px;
                margin-right: 8px;
            }
            }
        }
    }
}