.customized-detail {
  /deep/ .ark-table-cell {
    .el-input__inner {
      height: auto;
      line-height: 1;
      border: none;
    }
    .item-input {
      width: 40%;
    }
    .item-input .add-input {
      padding: 0;
      width: 100%;
    }
  }
}