.customized-detail {
  .identification-rules {
    margin-bottom: 10px;
    .condition {
      width: 20px;
      display: inline-block;
      position: relative;
      top: -18px;
    }
    &:first-child .condition {
      visibility: hidden;
    }
    .operation-btn {
      margin-left: 20px;
      font-size:24px;
    }
    .title {
      margin-right: 10px;
      vertical-align: middle;
      i {
        color: red;
        margin-right: 7px;
      }
    }
  
  }
  /deep/ .custom-width {
    width: 350px !important;
  }
  /deep/ .ark-form-item-content .ark-input-wrapper {
    display: inline-block;
  }
}
