.live-parsing {
  .identification-rules {
    margin-bottom: 10px;
    .condition {
      width: 20px;
      display: inline-block;
      position: relative;
      top: -18px;
    }
    &:first-child .condition {
      visibility: hidden;
    }
  }
  /deep/ .custom-width {
    width: 350px !important;
  }
}
