.logistics {
 
  .foot-tab {
    margin-top: 20px;
  }
  .foot-page {
    margin-top: 15px;
  }
}
.foot-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.layout {
  max-height: 500px;
  overflow: scroll;
}
