.logistics{
    .logistics-top-form{
      padding-top: 20px;
    }
    .foot-tab{
      margin-top: 20px;
    }
    
}
.foot-btns{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.layout{
  max-height: 500px;
  overflow:scroll;
}
