.content-li {
  display: flex;
  align-items: center;
  padding-left: 120px;
  margin-top: 20px;
  .content-li-btn {
    margin-left: 20px;
  }
}
.content-li-item {
  display: flex;
  align-items: baseline;
  padding-left: 55px;
  margin-top: 20px;
  .left-a {
    margin-right: 10px;
  }
  .left-b-em {
    color: red;
  }
  .content-li-item-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .content-li-item-left-a {
      width: 100%;
    }
  }
}
.specialLogistics-model-head {
  display: flex;
  align-items: center;
}
.tablestyle {
  margin: 15px 0;
}
