@import '~professionalComponents/common/css/theme.less';
.holdStrategyAddOrEdit {
  /deep/ .ark-checkbox-group {
    line-height: 32px;
    [type='checkbox'] {
      vertical-align: middle;
    }
  }
  /deep/ .fiexdTime {
    width: 200px;
    margin: 0 12px;
  }
  /deep/ .fixedSelect {
    width: 150px;
    .ark-select-selection {
      height: 32px;
      line-height: 30px;
      border-radius: 5px;
      margin: 0 12px;
      .ark-select-placeholder,
      .ark-select-selected-value {
        height: 32px;
        line-height: 30px;
      }
    }
  }
  /deep/ .ark-form-item.itemPlaceholder {
    .ark-form-item-label {
      color: transparent;
    }
    .ark-input-innerWrap,
    .ark-input.ark-input-default {
      display: none;
    }
  }
  /deep/ .ark-form-item.soltDom {
    .ark-form-item-label {
      display: none;
    }
    .ark-form-item-content {
      margin-left: 0 !important;
      display: flex;
      .preLable {
        display: inline-block;
        width: 160px;
        text-align: left;
        & > span {
          vertical-align: middle;
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      label.required i {
        color: red;
        padding-right: 5px;
        margin-left: -10px;
      }
      label.hidden i {
        visibility: hidden;
      }
    }
    .cust-form-label {
      padding: 0 10px;
      width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // line-height: 1;
      vertical-align: middle;
      &:hover {
        overflow: inherit;
        white-space: normal;
      }
    }
  }
}