.favoriteForm {
  border-radius: 2px;
  line-height: 24px;
  height: 24px;
  border: 1px solid #fd6442;
  color: #fd6442;
  display: inline-block;
  > span {
    font-size: 12px;
    padding: 5px;
  }
}