.item-input.isnotnull {
  input {
    background: #fcf7f1;
  }

  .popover-icon {
    background: #fcf7f1;
  }

  .danxuan {
    width: 20px;
    /* height: 24px; */
    right: 0 !important;
    top: 0 !important;
    padding: 5px 0px 4px 0px;
    border: 1px solid #bfcbd9;
    border-left: 0;
    background: #fcf7f1;
  }
}

.view-fktable {
  z-index: 99999;
  background: #fff;
  /*/ / margin-top: 20 px;*/
}

.hidden {
  display: none !important;
}

.item-input {
  width: 100%;
  height: 100%;
  display: flex;
  /*/ / border: 1 px dashed #000;*/
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;

  label.title {
    float: left;
    display: block;
    width: 102px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    padding-right: 0px;
  }
  .input-wrap.readonly-span {
    border: 1px solid #bfcbd9;
    background: #f4f4f4;
    padding: 0 4px;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .input-wrap {
    display: flex;
    flex: 1;
    width: calc(~"100% - 102px");
    overflow: hidden;
    /* / / max-width: 280 px;*/

    .readonly-span {
      border: 1px solid #bfcbd9;
      display: inline-block;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }

    input[type="password"].readonly {
      border: 1px solid #bfcbd9;
      background: #f4f4f4;
      margin-right: 0;
    }
    .input-inner.mop {
      box-sizing: border-box;
      left: 0;
      i {
        color: #0f8ee9;
        cursor: pointer;
      }
      .deleteDiv {
        width: calc(~"100% - 40px") !important;
      }
    }

    .input-inner {
      width: 100%;
      position: relative;

      input.mrp {
        height: 22px;
        margin-right: 0;
        position: relative;
        z-index: 2;
      }

      input {
        width: 100%;
        height: 22px;
        float: left;

        /*  / / height: 20 px;*/
      }

      input:focus {
        border-color: #bfcbd9;
      }

      .deleteDiv {
        position: absolute;
        left: 0;
        right: 18px;
        top: 0;
        z-index: 3;
        height: 24px;
        display: none;
        width: calc(~"100% - 23px") !important;
        background: rgba(0, 0, 0, 0.1);
        padding-right: 4px;
        text-align: right;

        i {
          color: #fff;
          background: #918f8f;
          &:hover {
            cursor: pointer;
          }
        }
      }

      p.mop {
        position: absolute;
        top: 0;
        right: 6px;
      }
    }
  }
  .name {
    padding: 0 10px;
  }
  .danxuan {
    width: 13px;
    height: 13px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top: 6px;
    right: 0px;
    color: #0f8ee9;
  }
  label {
    i {
      height: 14px;
      width: 8px;
      line-height: 14px;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      top: 3px;
      right: 4px;
      color: #f52f2f;
      font-size: 18px;
    }
  }

  input {
    /* / / border-bottom: 1 px solid #bfcbd9;*/
    border: 1px solid #bfcbd9;
    border-radius: 2px;
    flex: 1;
    padding: 0 4px;
    margin-right: 10px;
    width: calc(~"100% - 10px") !important;
  }

  span.readonly-span {
    border: 1px solid #bfcbd9;
    flex: 1;
    background: #f4f4f4;
    padding: 0 4px;
    border-radius: 2px;
    margin-right: 0;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-input.readonly {
    color: #333;
  }

  input:focus {
    border-color: #0f8ee9;
  }

  .el-input {
    flex: 1;
    padding-right: 10px;
    margin-top: 4px;
  }
}