.logistics {
  .foot-tab {
    margin-top: 20px;
  }
  .foot-page {
    margin-top: 15px;
  }
}
.foot-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.layout {
  max-height: 500px;
  overflow: scroll;
}
.ark-btn-primary {
  border-color: #4855af;
  background-color: #4855af;
  border-radius: 5px;
}
.btn-quxiao {
  color: #292f43;
  border-color: #dbdde8;
  background-color: #fff;
  border-radius: 5px;
}
.formlout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .customized-detail-footfrom{
    flex: 1;
  }
}