.auto-check {
  .operate {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;

    .operate-btn {
      margin: 0px 8px 8px 0px;
    }
  }

  .content {
    padding-top: 10px;
  }

  .burgeon-form-item-label {
    font-weight: bold;
  }
}