@import '~@burgeon/oms-theme/skin/public.less';

.auto-check {
  & /deep/ .ark-tabs{
    height: 100%;
    .ark-tabs-nav .ark-tabs-tab:hover{ 
     color: @base-color;
    }
  }
  .operate {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;

    .operate-btn {
      margin: 0px 8px 8px 0px;
      border-color:@base-color;
      color: @base-color;
      height: 22px;
      line-height: 18px;
      margin-left: 0;
      border-radius: 2px;
    }
  }
  .width .ark-form-item-label{
    width: 180px !important;
  }

  .ark-collapse-content>.ark-collapse-content-box {
    padding: 0;

    .ark-date-picker {
      width: 100% !important;
    }
  }

  & /deep/ .ark-form {
    .ark-form-item {
      margin-bottom: 0;
      .ark-fkrp-select-icon{
        top: 6px;
        height: 24px;
        line-height: 24px;
      }
      .ark-form-item-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}