@import '~burgeonComponents/common/css/theme.less';
@import "~@burgeon/oms-theme/skin/public.less";
.customized-detail {
  /deep/ .ark-form-item.soltDom {
    .ark-form-item-label {
      display: none;
    }
    .ark-form-item-content {
      margin-left: 0 !important;
      display: flex;
      .ark-input-wrapper, .ark-select {
        display: inline-block;
        &.ark-select-single .ark-select-selection{
          #bundle > .defalutInput;
          .ark-select-placeholder, .ark-select-selected-value {
            height: 32px;
            line-height: 32px;
          }
        }
      }
      .preLable {
        display: flex;
        align-items: center;
        width: 235px;
        text-align: left;
        & > span {
          vertical-align: middle;
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      label.required i {
        color: red;
        padding-right: 5px;
        margin-left: -10px;
      }
      label.hidden i {
        visibility: hidden;
      }
    }
    .cust-label, .cust-form-label {
      padding: 0 10px;
      width: 175px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-align: left;
    }
    .cust-label {
      text-align: left;
    }
  }
  .wrap .ark-form-item-content {
    flex-wrap: wrap;
  }
  .changeForm {
    display: flex;
    flex-wrap: wrap;
    .changeFormInput {
      width: 390px;
    }
    .changeFormInput.last {
      width: 590px;
      margin-left: 235px;
      margin-top: 15px;
    }
  }
  .orderManageEdit {
    margin-top: 10px !important;
  }
}