@import "~professionalComponents/common/css/theme.less";

.wphemail {
  position: relative;

  .mailFormItem {
    //width: 25%;
    margin-bottom: 8px;

    .burgeon-form-item-content > .burgeon-input-wrapper > .burgeon-input {
      display: inline-block;
      width: 100%;
      height: 18px;
      line-height: 1.5;
      padding: 0px;
      font-size: 12px;
      border: 1px solid #bfcbd9;
      border-radius: 2px;
      color: #515a6e;
      background-color: #fff;
      background-image: none;
      position: relative;
      cursor: text;
      transition: border 0.2s ease-in-out, background 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    }
  }


  ul {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    li {
      margin: 0px 20px;

      label {
        min-width: 100px;
        text-align: right;
      }
    }
  }
}
