// @import '~burgeonComponents/burgeon.publish/common/css/theme.less';
@import url(https://cdn.jsdelivr.net/gh/zl21/OMS/burgeon.publish/common/css/theme.less);


.wphemail {
  position: relative;

  .mailFormItem {
    //width: 25%;
    margin-bottom: 8px;
  }


  ul {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    li {
      margin: 0px 20px;

      label {
        min-width: 100px;
        text-align: right;
      }
    }
  }
}
