.btn {
  padding: 5px 0;
  .btn-group {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 4px 0;

    button {
      height: 28px;
      line-height: 18px;
      margin-right: 8px;
      margin-left: 0px;
      padding: 0 7px;
    }
    .ark-btn-fcdefault {
      // min-width: auto !important;
    }
  }
  .left {
    justify-content: flex-start;
  }
  .center {
    justify-content: center;
  }
  .right {
    justify-content: flex-end;
  }
}
// 订单管理/零售发货单-列表-按钮样式 特殊处理
.orderManager-box {
  .btn {
    padding: 0 0 5px;
  }
}