.actionPermissionsTable {
  table {
    border-spacing: 0px 0px;
  }
  .scrollTable {
    overflow: auto;
    table {
      border-collapse: collapse;
      border-spacing: 0px 0px;
      tbody {
        tr {
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }
  }
  .scrollTable::-webkit-scrollbar {
    width: 0;
  }
  table {
    color: #575757;
    text-align: left;
    width: 100%;
    text-indent: 5px;
    table-layout: fixed;
    thead {
      tr {
        th {
          text-align: left;
          background-color: #eeeff0;
          height: 26px;
          line-height: 26px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #d8d8d8;
        height: 23px;
        line-height: 23px;
        td {
          height: 23px;
          line-height: 23px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .textEllipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    ._italics {
      font-style: oblique;
      color: #d3d3d3;
    }
    .paddingleft18 {
      padding-left: 18px;
    }
    .paddingleft10 {
      padding-left: 10px;
    }
  }
}
