.returnNumberPop {
  .ark-modal-body {
    overflow: hidden;

    .ark-form-item-content {
      margin-right: 0 !important;
    }
  }

  .ark-form-item {
    margin-bottom: 0 !important;
  }

  .orderContent {
    .buttonBox {
      justify-content: flex-end;
      button{
        margin-right: 0;
      }
    }
  }

  .jordan-table-box {
    .page-box {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
    .ark-table-wrapper {
      margin-top: 0 !important;
    }
  }
  .ark-modal-content .ark-modal-body .ark-form-item-content {
    margin-right: 0 !important;
  }
}