.queryorder {
  .orderContent{
    display: grid;
    grid-template-columns: auto 40px;
    align-items: end;
  }
  .orderContent /deep/ .buttonBox {
    .buttonGroup{
      margin: 0;
    }
    button{
      margin-right: 0;
    }
  }

  .jordan-table-box {
    .page-box {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
.queryorder .ark-modal-footer{
  button{
    border: 1px solid #fd6442;
    // background-color: transparent;
    &  > span{
      color: #fd6442;
    }
  }
}