@import "~@/assets/css/css_1_3/theme.less";
.queryorder {
  
  .orderContent .buttonBox {
    justify-content: flex-end;
    button{
      margin-right: 0;
    }
  }

  .jordan-table-box {
    .page-box {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }

    .burgeon-table-wrapper {
      margin-top: 0 !important;
    }
  }
}