.burgeon-poptip-body-content {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

.orderManager-box {
  .IntegrateSearchFilter {
    .popSelect
      .burgeon-select-single
      .burgeon-select-selection
      .burgeon-select-single
      .burgeon-select-selected-value {
      height: 35px !important;
      line-height: 35px !important;
    }

    .burgeon-select-selection-head {
      height: 35px !important;
      line-height: 35px !important;
    }

    .popSelect
      .burgeon-select-single
      .burgeon-select-selection
      .burgeon-select-placeholder,
    .burgeon-select-single
      .burgeon-select-selection
      .burgeon-select-selected-value {
      height: 35px !important;
      line-height: 35px !important;
    }

    .burgeon-integrate-search-filter-search-item-list {
      display: flex;
      align-items: center;
    }

    .burgeon-integrate-search-filter-search-item-title {
      display: flex;
      align-items: center;
    }

    .burgeon-input-icon {
      height: 35px !important;
      line-height: 35px !important;
    }

    .burgeon-integrate-search-filter-valid {
      width: 440px !important;
    }

    .burgeon-integrate-search-filter-valid .burgeon-input {
      height: 35px !important;
    }

    .burgeon-select-selection {
      height: 35px !important;
      line-height: 35px !important;
    }

    .burgeon-date-picker {
      width: 440px !important;
    }

    .burgeon-input .burgeon-input-default {
      height: 35px !important;
    }
  }

  .heigtFromListValue {
    height: 217px;
  }

  .burgeon-select-selection-head {
    height: 26px !important;
    line-height: 26px !important;
  }

  .burgeon-poptip {
    display: flex !important;
    align-items: center !important;
  }

  .burgeon-poptip-rel {
    display: flex !important;
    align-items: center !important;
  }
  .businessLabel {
    margin-top: 8px;
  }
  .jordan-action-table {
    border-bottom: 1px solid #dcdee2;
    border-right: 1px solid #dcdee2;
    border-left: 1px solid #dcdee2;
    padding: 5px 8px;
  }

  .from {
    border: 1px solid #d3d3d3;
    padding: 0 10px;
    position: relative;
    .businessForm_a{
      padding-bottom: 0;
    }
    .IntegrateSearchFilter{
      padding: 10px 0;
    }
    .one_button{
      .buttonBox{
        justify-content: flex-end;
        
      }
    }
    .burgeon-col-span-6 {
      width: 20% !important;
    }
  }

  .from_loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000 !important;
  }

  .from-folding {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 28px;
    height: 16px;
    text-align: center;
    background-color: #ed4014;
    color: white;
    font-size: 10px;
    z-index: 888 !important;
    &>.iconfont{
      font-size: 14px;
    }
  }

  .iconwangwang {
    animation: myfirst 2s infinite;
  }

  .orderTag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @keyframes myfirst {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-2px, -4px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  // 按钮icon偏移问题
  .btn .burgeon-btn > .burgeon-icon {
    margin-left: 3px;
  }
}

.tableFooter {
  padding: 10px 10px 10px 0px;

  .tableFooter_border {
    padding: 2px 4px;
    border: 1px solid red;
  }
}

.burgeon-fkrp-select {
  width: 100%;
}

.burgeon-fkrp-select-icon {
  top: 9px !important;
}