@import '~@burgeon/oms-theme/skin/public.less';

.promotion-content {
  .operation-content {
    .operation-botton {
      font-size: 0;
      margin: 12px 0;
      .active {
        background: @base-color;
        color: #fff;
        margin-right: 8px;
      }
      .favoriteForm {
        border: 1px solid @base-color;
        color: @base-color;
        vertical-align: bottom;
      }
    }
    .operation-form {
      padding: 5px 10px;
      border: 1px solid #dcdee2;
      .form-item {
        padding: 5px 0;
        font-size: 0;
        .form-label {
          text-align: right;
          display: inline-block;
          font-size: 12px;
          width: 80px;
          height: 28px;
          line-height: 26px;
          padding-right: 10px;
          vertical-align: middle;
        }
        .form-input {
          height: 28px;
          width: calc(100% - 80px);
          display: inline-block;
          font-size: 12px;
          vertical-align: middle;
          border: 1px solid #dcdee2;
          border-radius: 2px;
          .ark-date-picker {
            width: 100%;
          }
          input {
            display: block;
            width: 100%;
            height: 26px;
            line-height: 1;
            border: none;
            padding: 0 5px;
          }
          .popover-icon {
            top: 8px;
          }
          .ark-select-selection {
            border: none;
          }
        }
      }
    }
  }
  .tabale-content {
    .ark-tabs-bar {
      margin-bottom: 0;
    }
    .ark-tabs{
      margin-top: 10px;
      font-size: 12px;
      .ark-tabs-nav .ark-tabs-tab-active {
          color: @base-color;
          // border: 1px solid #dcdee2;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
      }
    }
  }
  .promactiIcon {
    margin-top: 10px;
    .legend {
      > p {
        display: inline-block;
        button {
          border: 1px solid #575757;
          margin-right: 2px;
          background: white;
          padding: 0px 3px;
        }
        .color-blue {
          color: #0000ff;
          font-weight: 400;
        }
        .color-italic-grey {
          color: #999;
        }
        .color-italic-black {
          color: #000;
        }
        margin-right: 3px;
      }
    }
  }
}